/* header layout */
header {
	min-width: var(--pageMinWidth);
	font-size: var(--subtitleFont);
	background: white;
	z-index: 20;
	position: sticky;
	box-shadow: 0px 2px 3px #808080;
	transition: .2s;
	top: 0;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* ScrollHeader Style *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.scrollHeader {
	background-color: rgb(240, 240, 240)
}

.scrollHeader>.headerUp_Container>.headerLogo>p {
	font-size: var(--titleFont);
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* headerUp Style *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.headerBanner {
	background-color: var(--mainColor);
	font-size: var(--contentFont);
	display: flex;
	justify-content: end;
	padding: 0.5rem 0 0.5rem 0;
}

.headerBanner.off{
	display: none;
}


.headerBanner>p {
	color: white;
}

.closeBtn {
	color: white;
	margin: 0 2rem 0 2rem;
	cursor: pointer;
}
.closeBtn>i{
	color: white;
}

.headerUp_Container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0 0rem 0;
	padding-left: var(--layoutpadding);
	padding-right: var(--layoutpadding);
}

/* headerlogo  */
.headerLogo {
	width: 30%;
	display: flex;
	justify-content: start;
	align-items: center;
}

.headerLogo>p {
	font-size: 40px;
	font-weight: bold;
	transition: .2s;
}

.headerLogo>p>span {
	color: var(--mainColor);
}


/* headerSearch  */
.searchContainer {
	width: 30%;
	display: flex;
	justify-content: center;
}

.searchContainer>form {
	border: 1px solid ;
	display: flex;
	height: 50%;

}
.searchBar {
	padding: 0 5rem 0 1rem;
}

.searchBtn {
	padding: 0 1rem 0 1rem;
	background-color: white;
	cursor: pointer;
}

.searchBtn>i {
	font-size: var(--contentFont);

	width: 100%
}


.searchContainer>form>input {
	border: none;
}

/* header ContentNav  */
.contentNav {
	display: flex;
	width: 30%;
	justify-content: end;
	height: 50%;

}

.contentNav>li {
	margin-left: 1rem;
	display: flex;
	border-radius: 5px;
	transition: .5s;
}

.contentNav>li:hover>a>p>i {
	color: var(--mainColor);
	text-shadow: 0px 1px 10px var(--subColor02), 0px 0px 20px var(--subColor03);
	transition: .2s;
}


.contentNav>li>a {
	display: block;
	height: 100%;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	color: rgb(80, 80, 80);
}


.contentNav>li>a>p {
	display: flex;
	align-items: center;
	height: 100%;
}

.contentNav>.customerService{
	position: relative;
}

.customerService>ul{
	position: absolute;
	border: 1px solid;
	top: 100%;
	right: 0;
	width: 10rem;
	background-color: white;
	border: 1px solid rgb(215, 215, 215);
	z-index: -1;
	opacity: 0;
	transition: .2s;
}
.customerService>ul>li>a{
	display: block;
	font-size: 14px;
	padding: 0.3rem 0 0.3rem 0.5rem;
	z-index: 100;
	opacity: 1;
	transition: .2s;
}

.customerService:hover >ul{
	z-index: 100;
	opacity: 1;
}

.customerService>ul>li>a:hover{
	color: var(--mainColor);
	background-color: rgb(240, 240, 240);
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* headerDown Style *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.headerDown_Container {
	display: flex;
	padding-top: 0.5rem;
	padding-left: var(--layoutpadding);
	padding-right: var(--layoutpadding);
	position: relative;
	justify-content: space-between;
	align-items: center;

}

.categoryContainer {
	position: relative;
	font-size: var(--contentFont);
	width: 20%;
}

.categoryContainer>p {
	padding: 0.5rem 4rem 0.5rem 0;
	cursor: pointer;
	font-weight: bold;
	transition: .2s;
}

.categoryContainer>p>span {
	font-weight: bold;
	margin-right: 0.5rem;
	font-size: var(--subtitleFont);
}

.categoryContainer>p:hover>span>i {
	transition: .2s;
}

.categoryContainer>p:hover+.category,
.category:hover {
	box-shadow: 0px 1px 3px gray;
	height: 1000%;
	overflow: scroll;
	overflow-x: hidden;
	opacity: 1;
	z-index: 10;
	color: var(--mainColor);
}


.category {
	position: absolute;
	top: 102%;
	left: 0;
	width: 100%;
	height: 0%;
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	transition: .5s;
	background-color: white;
}

.category>li>a{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0.5rem 0 0.5rem 0;
	transition: .2s;
}

.category>li>a:hover{
	background-color: rgba(225, 225, 225, 0.5);
	color: var(--mainColor);
}


.event {
	display: flex;
	width: 60%;
	justify-content: center;
}

.event>li {
	font-weight: bold;
	font-size: var(--contentFont);
	display: flex;
	align-items: center;
	position: relative;
}

.event>li>a {
	padding: 0.5rem 4rem 0.5rem 4rem;
	display: block;
	width: 100%;
	color: rgb(80, 80, 80);

}

.event>li::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 30%;
	border: 1px solid rgb(170, 170, 170);
}

.event>li:last-child:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 30%;
	border: 1px solid rgb(170, 170, 170);
}




.languageContainer{
	width: 20%;
	display: flex;
	justify-content: end;
}
.language {

	display: flex;
	font-size: var(--contentFont);
	border: 1px solid;
	border-radius: 1rem;
	height: 50%;
	align-items: center;
}

.language>p {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 14px;
}
