<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/cart/cartPageStyle.css}">
        <div class="cartContainer">
            <div class="cartTitle">
                <p>장바구니</p>
            </div>
            <div class="cartContent">
                <div class="cartLeft">
                    <div class="selectCon allselect">
                        <input type="checkbox" id="productSelect01" name="productSelectAll" class="productSelectBox">
                        <label for="productSelect01">
                            <div class="inputSquire" id="selectall" name="selectall">
                                <i class="fa-solid fa-check"></i>
                            </div> 전체선택
                        </label>
                        <button class="selectDel" disabled>선택삭제</button>
                    </div>
        
                    <div class="cartContentNone off">
                        <p><i class="fa-solid fa-exclamation"></i></p>
                        <p>장바구니에 담긴 상품이 없습니다.</p>
                    </div>
        
                    <div class="cartProductContainer">
                        <div th:each="cart : ${user.cartList}" class="cartProduct">                            
                            <div class="productCheckBox">
                                <input type="checkbox" th:id="'productSelect'+${cart.cartId}" name="productSelect"
                                	 class="productSelectBox" th:value="${cart.cartId}">
                                <label th:for="'productSelect'+${cart.cartId}">
                                    <div class="inputSquire" th:id="${cart.cartId}" name="cartbox">
                                        <i class="fa-solid fa-check"></i>
                                    </div>
                                </label>
                            </div>
        
                            <div class="productCon">
                                <div class="productTitle">
                                    <p th:text="${cart.product.name}"></p>
                                </div>
        
                                <div class="productIntro">
                                    <div class="productImg">
                                        <img src="" alt="">
                                    </div>
                                    <div class="productPrice">
                                        <p th:text="|${#numbers.formatInteger(cart.product.price, 0, 'COMMA')}원|"></p>
                                    </div>
                                    <div class="productCount">
                                        <div class="count minusBtn"><i class="fa-solid fa-minus"></i></div>
                                        <p class="count" name="count" th:text="${cart.productCount}"></p>
                                        <div class="count plusBtn"><i class="fa-solid fa-plus"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                
                <div class="cartRight ">
                    <div class="accountContainer">
                        <p class="accountTitle">
                            결제금액
                        </p>
                        <div>
                            <p>상품금액</p>
                            <p class="money" name="productPricePop" id="productPricePop">원</p>
                        </div>
                        <div class="productSale">
                            <p>상품할인금액</p>
                            <p class="money" name="saleAmount" id="saleAmount">-0원</p>
                        </div>
                        <div class="delivery">
                            <p>배송비</p>
                            <p class="money" name="deliveryFee" id="deliveryFee">0원</p>
                        </div>
                        <div class="SDamout">
                            <p>결제예정금액</p>
                            <p class="money" name="totalPrice" id="totalPrice">원</p>
                            <div class="noti">
                                쿠폰/적립금은 주문서에서 사용가능합니다
                            </div>
                        </div>
                    </div>
                    <div class="accountBtn" id="payment">
                        <a href="javascript:void(0)">결제하기</a>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/payment}" id="cartPaymentForm" method="get">
        	<input type="hidden" id="cartArr" name="cartData">
        	<input type="hidden" id="countArr" name="countData">
        </form>
    </main>
</div>

<script th:src="@{/cart/cartPage.js}"></script>

