<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
		<link rel="stylesheet" th:href="@{/layout/footerStyle.css}">
        <div class="cartContainer">
            <div class="cartTitle">
                <p>장바구니</p>
            </div>
            <div class="cartContent">
                <div class="cartLeft">
                    <div class="selectCon allselect">
                        <input type="checkbox" id="productSelect01" name="productSelect" class="productSelectBox">
                        <label for="productSelect01">
                            <div class="inputSquire"><i class="fa-solid fa-check"></i></div> 전체선택 <span>0/0</span>
                        </label>
                        <button class="selectDel" disabled>선택삭제</button>
                    </div>


                    <div class="cartContentNone off">
                        <p><i class="fa-solid fa-exclamation"></i></p>
                        <p>장바구니에 담긴 상품이 없습니다.</p>
                    </div>


                    <div class="cartProductContainer">
                        <div th:each="cart : ${user.cartList}" class="cartProduct">
                            <div class="deletBtn">
                            	<!--<a class="delete" href="javascript:void(0);" th:data-uri="@{|/cart/delete/${cart.cartId}|}">-->
                            	<i class="fa-solid fa-x"></i>
                            </div>
                            <div class="productCheckBox">
                                <input type="checkbox" id="productSelect02" name="productSelect" class="productSelectBox" th:value="${cart.product.productId}">
                                <label for="productSelect02">
                                    <div class="inputSquire"><i class="fa-solid fa-check"></i></div>
                                </label>
                            </div>
                            <div class="productCon">
                                <div class="productTitle">
                                    <p th:text="${cart.product.name}"></p>
                                </div>

                                <div class="productIntro">
                                    <div class="productImg">
                                        <img src="" alt="">
                                    </div>
                                    <div class="productPrice">
                                        <p th:text="|${#numbers.formatInteger(cart.product.price, 0, 'COMMA')}원|"></p>
                                    </div>
                                    <div class="productCount">
                                        <div class="count minusBtn"><i class="fa-solid fa-minus"></i></div>
                                        <p class="count">0</p>
                                        <div class="count plusBtn"><i class="fa-solid fa-plus"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cartRight ">
                    <div class="accountContainer">
                        <p class="accountTitle">
                            결제금액
                        </p>

                        <div>
                            <p>상품금액</p>
                            <p class="money">22,300원</p>
                        </div>

                        <div class="productSale">
                            <p>상품할인금액</p>
                            <p class="money">-0원</p>
                        </div>

                        <div class="delivery">
                            <p>배송비</p>
                            <p class="money">0원</p>
                        </div>

                        <div class="SDamout">
                            <p>결제예정금액</p>
                            <p class="money">22,300원</p>
                            <div class="noti">
                                쿠폰/적립금은 주문서에서 사용가능합니다
                            </div>
                        </div>
                    </div>
                    <div class="accountBtn">
                        <a href="#">결제하기</a>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/layout/ATeamModul.js}"></script>
    <script th:src="@{/cart/cartPage.js}"></script>
</div>