<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" href="/substatic/MyPage/myPageStyle.css">
    <link rel="stylesheet" href="/substatic/MyPage/myorderdetail.css">

        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a th:href="@{/usermodify}">개인정보 수정</a></li>
                        <li><a th:href="@{/usermodify/pw}">비밀번호 수정</a></li>
                        <li><a th:href="@{/signout}">회원 탈퇴</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="myPageTitle">
                    <p>상세 주문내역</p>
                    
                    <div class="pdetailHeader">
                        <span></span>
                        <span>상품명</span>
                        <span>가격</span>
                        <span>수량</span>
                        <span>리뷰</span>
                     </div>
                    
                    <!-- <div th:if="${리스트.isEmpty()}">
                        구매내역이 없습니다.
                    </div> -->
                    <div class="pdetailListContainer" th:each="paymentdetail : ${payment.paymentDetailList}"> <!-- 반복 용도의 div이라서 나중에 th:each="" th:if="${!리스트.isEmpty()}" 붙이기 -->

                        <div class="pdetailListInfo">
                            <!--  상품명, 구매일자, 주문번호, 총 가격 등의 정보 작성용 -->
                             <div class="productImage"><img src="/substatic/img/ordertest.jpg" alt=""></div>
                             <div class="productName"><h4 th:text="${paymentdetail.product.name}"></h4></div>
                             <div class="paymentDetailPrice"><h4 th:text="${paymentdetail.price}"> </h4 ></div> <!-- th:text="${payment.가격}" -->
                             <div class="paymentDetailCount"><h4 th:text="${paymentdetail.count}"></h4></div>
                             <div class="createReviewLink"> <a th:href="@{/reviewcreate/{productId}(productId = ${paymentdetail.product.productId})}">리뷰 작성</a></div>
                        </div> 
                    </div> <!-- paymentListContainer 끝 -->
                
            
            </div>
        </div>
    </main>
</div>