<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" href="/MyPage/myPageStyle.css">
    <link rel="stylesheet" href="/MyPage/myorder.css">

        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a th:href="@{/usermodify}">개인정보 수정</a></li>
                        <li><a th:href="@{/usermodify/pw}">비밀번호 수정</a></li>
                        <li><a th:href="@{/signout}">회원 탈퇴</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="myPageTitle">
                    <p>주문내역</p>
                    
                    <div class="deliveryModal">
        				<div class="deliveryModalBody">
				              <form>
            <div class="form-group">
              <label for="t_key">API key</label>
              <input type="text" class="form-control" id="t_key" name="t_key" placeholder="제공받은 APIKEY">
            </div>
            <div class="form-group">
              <label for="t_code">택배사 코드</label>
              <input type="text" class="form-control" name="t_code" id="t_code" placeholder="택배사 코드">
            </div>
            <div class="form-group">
              <label for="t_invoice">운송장 번호</label>
              <input type="text" class="form-control" name="t_invoice" id="t_invoice" placeholder="운송장 번호">
            </div>
            <button type="submit" id="deliveryBtn">조회하기</button>
        </form>
                    <button class="modalCloseBtn">닫기</button>
        				</div>
   				 </div>
                    <ul>
                        <li><a href="#" id="period" value="3">3개월</a></li>
                        <li><a href="#" id="period" value="6">6개월</a></li>
                        <li><a href="#" id="period" value="12">1년</a></li>
                        <li><a href="#" id="period" value="36">3년</a></li>
                    </ul>
                    <div class="description"><span>주문내역 조회 및 각 항목을 클릭하면 결제한 상품들의 정보를 볼 수 있습니다.</span></div>
                    
                     <div class="contentHeader">
                        <span></span>
                        <span>결제일</span>
                        <span>결제액</span>
                        <span>대표 상품명</span>
                        <span>주문 번호</span>
                        <span>배송 상태</span>
                     </div>
     <div class="contentListContainerContainer">
    <!-- 결제 내역이 없을 때 표시 -->
    <div th:if="${paymentList.isEmpty()}">
        구매내역이 없습니다.
    </div>

    <!-- 각 결제 내역 반복 -->
    <div class="contentListContainer" 
         th:each="payment, iterStat : ${paymentList}"
         th:onclick="|location.href='@{/myorder/detail/{paymentId}(paymentId=${payment.paymentId})}'|">
         

        <!-- 결제 정보 -->
        <div class="contentListInfo">
            <div class="productImage"><img src="/img/ordertest.jpg" alt="상품 이미지"></div>
            <div class="paymentDate"><span th:text="${#temporals.format(payment.createDate, 'yyyy-MM-dd')}"></span></div>
            <div class="paymentPrice"><span th:text="${totalprices[iterStat.index] + '원'}"></span></div>
            <div class="paymentProductName"><span th:text="${productNames[iterStat.index]}"></span></div>
            <div class="paymentDeliveryno"><span th:text="${payment.deliveryno}"></span></div>
            <div class="paymentDeliveryState"><span th:text="${payment.deliveryState}"></span><button class="deliveryOpenBtn">배송 조회하기</button></div>
        </div>
                   </div> <!-- paymentListContainer 끝 -->
                </div>
              </div>
            
            </div>
        </div>
    </main>
 </div>


<script th:src="@{/MyPage/myorder.js}"></script>