<!DOCTYPE html>

    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main>
        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a href="#">배송지관리</a></li>
                        <li><a href="#">나의 스타일</a></li>
                        <li><a th:href="@{/usermodify}">개인정보수정</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="orderHistory">
                    <p>주문내역</p>
                    <ul>
                        <li class="on"><a href="#">3개월</a></li>
                        <li><a href="#">6개월</a></li>
                        <li><a href="#">1년</a></li>
                        <li><a href="#">3년</a></li>
                    </ul>
                    
                     <div class="paymentHeader">
                             <div class="paymentHeaderImage">
                                  <span>이미지</span>
                             </div>
                        <span>결제일</span>
                        <span>결제액</span>
                        <span>대표 상품명</span>
                        <span>주문 번호</span>
                        <span>배송 상태</span>
                     </div>

    <!-- 결제 내역이 없을 때 표시 -->
    <div th:if="${paymentList.isEmpty()}">
        구매내역이 없습니다.
    </div>

    <!-- 각 결제 내역 반복 -->
    <div class="paymentListContainer" 
         th:each="payment, iterStat : ${paymentList}"
         th:onclick="|location.href='@{/myorder/detail/{paymentId}(paymentId=${payment.paymentId})}'|">
         
        <!-- 상품 이미지 -->
        <div class="paymentListImage">
            <img src="/img/ordertest.jpg" alt="상품 이미지">
        </div>

        <!-- 결제 정보 -->
        <div class="paymentListInfo">
            <span th:text="${#temporals.format(payment.createDate, 'yyyy-MM-dd')}"></span>
            <span th:text="${totalprice[iterStat.index] + '원'}"></span>
            <span th:text="${productNames[iterStat.index]}"></span>
            <span th:text="${payment.deliveryno}"></span>
            <span th:text="${payment.deliveryState}"></span>
        </div>
                   </div> <!-- paymentListContainer 끝 -->
                </div>
                
            
            </div>
        </div>
    </main>
   