<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
        <link rel="stylesheet" href="/MyPage/myPageStyle.css">
    <style>
    


.myReviewContainer{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
}
.myReviewContainer>p{
    padding-bottom: 1rem ;
    font-size: var(--titleFont);
    border-bottom: 2px solid;
}

        .reviewListContainer{
            margin: 0.5vw;
            border: 1.5px solid black;
            border-radius: 10px;
        }
        .reviewListContainer > div{
            padding: 0.5vw;
        }
        .reviewListTop{
            display: flex;
        }
    </style>
        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a href="#">배송지관리</a></li>
                        <li><a href="#">나의 스타일</a></li>
                        <li><a th:href="@{/pwcheck}">개인정보수정</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="myReviewContainer">
                    <p>내 리뷰</p>
                    
                     <div class="mainContainer">
                    <div th:if="${user.reviewList.isEmpty()}">
                        작성한 리뷰가 없습니다.
                    </div>
                    <div class="reviewListContainer" th:each="review : ${user.reviewList}" th:if="${!user.reviewList.isEmpty()}"> <!-- 반복 용도의 div이라서 나중에 th:each="review : ${user.reviewList}" th:if="${!user.reviewList.isEmpty() 붙이기 -->
                        <div class="reviewListTop">
                            <div class="reviewListInfo">
                                <!-- 유저 이름, 작성일, 평점, 상품명 등의 정보 작성용 -->
                                <div class="reviewUserName"><h3 th:text="${review.user.name}"></h3></div>
                                <div class="reviewProductName"><h3 th:text="${review.product.name}"><a href="#"></a></h3></div> <!-- 리뷰에서 제품명 누르면 링크타지게도 해보기-->
                                <div class="reviewScope" th:text="${review.scope} + 점"></div>
                                <div class="reviewDate" th:text="${#temporals.format(review.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                            </div>
                            <div class="reviewModifyDelete">
                                <a th:text="수정" th:href="@{|reviewmodify/${review.reviewId}|}"></a>
                                <a href="javascript:void(0);" th:data-uri="@{|/reviewdelete/${review.reviewId}|}"th:text="삭제" class="delete"></a>
                            </div>
                             
                        </div>  <!-- reviewListInfo 끝 -->
                        <div class="reviewListContent">
                            <!-- <div class="reviewImage"></div>  이미지 생기면 이거 쓰기-->
                            <div class="reviewTitle" ><h1 th:text="${review.title}"></h1></div>
                            <div class="reviewContent" ><span th:text="${review.contents}"></span></div>
                        </div>
                    </div>
                </div>
                
            
            </div>
        </div>
    </main>
</div>
	<script>
	let del = document.querySelectorAll(".delete");
	        for(let el of del){
		el.addEventListener('click', function(){
			if(confirm("정말로 삭제?")){
				location.href = this.dataset.uri;
	//                         삭제의 data.uri가 dataset-uri에 저장하는 것이기 때문에 누른 버튼의 uri를 가져옴
			}
		});
	};
	</script>