<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" href="/MyPage/myPageStyle.css">
    <link rel="stylesheet" href="/MyPage/pwmodify.css">

        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a th:href="@{/usermodify}">개인정보 수정</a></li>
                        <li><a th:href="@{/usermodify/pw}">비밀번호 수정</a></li>
                        <li><a th:href="@{/signout}">회원 탈퇴</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="myPageTitle">
                    <p>비밀번호 수정</p>
                    <div class="description"><span>비밀번호를 수정할 수 있습니다.</span></div>

                    

        <div id="userModifyContainer">
            <form th:action="@{/usermodify/pw}" th:object="${editPwForm}" method="post">
                 <!--  <div id="erorrs" th:replace="~{login/form_errors :: formErrorsFragment}"></div>
                  -->
                  
                  
                  <div class="userInfoPassword">
                  <input type="password" placeholder="현재 비밀번호" th:field="*{prePassword}"/>
                  <input type="password" placeholder="새 비밀번호" th:field="*{password}"/>
                  <input type="password" placeholder="새 비밀번호 확인" th:field="*{password2}"/>
                </div>
                     <input type="submit" value="수정하기">
                  </form>
                  
        </div> <!-- userModifyContainer 끝 -->
                  </div>
        </div>
    </main>
</div>
<script th:src="@{/MyPage/pwmodify.js}"></script>
 