<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" href="/MyPage/myPageStyle.css">
    <style>

    </style>
        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a href="#">배송지관리</a></li>
                        <li><a href="#">나의 스타일</a></li>
                        <li><a th:href="@{/usermodify}">개인정보수정</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="myPageTitle">
                    <p>리뷰</p>
                    
                    <div class="createReviewContainer">
            <form th:object="${reviewCreateForm}" method="post">
        <!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
                <h1>리뷰 작성</h1>
                <div class="createReviewScope">
                    <label for="one">1</label>
                     <input type="radio" name="scope" th:field="*{scope}" value="1">
                     <label for="two">2</label>
                     <input type="radio" name="scope" th:field="*{scope}" value="2">
                     <label for="three">3</label>
                     <input type="radio" name="scope" th:field="*{scope}" value="3">
                     <label for="four">4</label>
                     <input type="radio" name="scope" th:field="*{scope}" value="4">
                     <label for="five">5</label>
                     <input type="radio" name="scope" th:field="*{scope}" value="5">
                </div>
                <div class="createReviewTitle">
                    <h4>제목</h4>
                    <textarea id="title" th:field="*{title}" placeholder="제목을 입력해주세요" maxlength="100" required></textarea>
                </div>
                <div class="createReviewContents">
                    <h4>내용</h4>
                    <textarea id="contents" th:field="*{contents}" placeholder="내용을 입력해주세요." maxlength="600" required></textarea>
                </div>
                <input type="submit" name="" id="" value="등록">
            </form>

        </div> <!-- createReviewContainer 끝 -->
                  </div>
        </div>
    </main>
</div>