<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" href="/MyPage/myPageStyle.css">
    <link rel="stylesheet" href="/MyPage/usermodify.css">

        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a th:href="@{/usermodify}">개인정보 수정</a></li>
                        <li><a th:href="@{/usermodify/pw}">비밀번호 수정</a></li>
                        <li><a th:href="@{/signout}">회원 탈퇴</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="myPageTitle">
                    <p>개인정보 수정</p>
                    <div class="description"><span>내 개인정보를 수정할 수 있습니다.</span></div>
                    
                    <!--<div class="pwModal" id="pwModal">
             <div class="pwModalBody">
                <h2>패스워드를 입력해주세요</h2>
                <form id="pwCheckForm">

                <input type="hidden" id="_csrf" > -->
              <!--  <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->

                    <!-- <input type="password" id="password" name="password" required>
                    <button type="submit" id="pwCheckBtn">확인</button>
                </form>
                <p id="pwError">비밀번호가 일치하지 않습니다.</p>
            </div>
        </div> -->
                    
                    

        <div id="userModifyContainer">
            <form id="usermodify" th:action="@{/usermodify}" th:object="${userModifyForm}" method="post">
                 <!--  <div id="erorrs" th:replace="~{login/form_errors :: formErrorsFragment}"></div>
                  -->
                  
                   <div class="userInfoContainer">
                  <div class="infoName"><h3>이름</h3></div>
                  <div class="userInfo">
                  <input type="text" th:value="${user.name}" readonly>
                  </div>
                </div>
                  
                  <div class="userInfoContainer">
                  <div class="infoName"><h3>이메일</h3></div>
                  <div class="userInfo">
                  <input type="text" th:field="*{email1}"/>
                  <span>@</span>
                    <input class="box" type="text" th:field="*{email2}">
                    <select name="box" id="domain-list" type="text" class="box">
                      <option value="type">직접입력</option>
                      <option value="naver.com">naver.com</option>
                      <option value="google.com">google.com</option>
                      <option value="hanmail.net">hanmail.net</option>
                      <option value="nate.com">nate.com</option>
                      <option value="kakao.com">kakao.com</option>
                    </select>
                  </div>
                </div>
                
                <div class="userInfoContainer">
                  <div class="infoName"><h3>전화번호</h3></div>
                  <div class="userInfo">
                  <input type="tel" th:field="*{tell}" onfocus="this.placeholder=''" maxlength="13" oninput="autoHyphen(this)" pattern="010-[0-9]{3,4}-[0-9]{4}" placeholder="- 없이 숫자만 입력하세요" 
                  id="tel" autocomplete="off" name="users_phone"  onblur="this.placeholder = '- 없이 숫자만 입력하세요'"/>
                  </div>
                </div>
                     
                     
                    <div class="userInfoContainer">
                    <div class="infoName"><h3>주소</h3></div>
                    <div class="userInfo">
                     <input type="text" th:field="*{address1}" placeholder="우편번호" readonly>
                     <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                     <input type="text" th:field="*{address2}" placeholder="주소" readonly><br>
                     <input type="text" th:field="*{addressDetail}" placeholder="상세주소">
                     </div>
                    </div>
                     
                     <div class="userInfoContainer">
                     <div class="infoName"><h3>성별</h3></div>
                  <div class="userInfo">
                     <label for="male">남성</label>
                     <input type="radio" th:field="*{gender}" value="남성">
                     <label for="female">여성</label>
                     <input type="radio" th:field="*{gender}" value="여성">
                     </div>
                   </div>
                
                     
                    
                     <input type="submit" id="modify" value="수정하기">
                  </form>
                  
                  <div class="emailAuth">
                     <h3>개인정보를 수정하시려면 인증 코드를 입력해주세요</h3>
                     
                     <form id="emailForm">
                        <input type="hidden" id="email" th:value="${user.email}">
                        <input type="button" id="emailAuthBtn" value="인증 코드 전송">
                        <input type="text" id="codeCheck" placeholder="인증 코드를 입력해주세요" required>
                     </form>
        
                     <input type="hidden" id="codeInput" value = "dkwlr">
                     <input type="button" id="codeCheckBtn" value="인증">
                     
                     </div>
                  
        </div> <!-- userModifyContainer 끝 -->
                  </div>
        </div>
        
        
    </main>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/MyPage/usermodify.js}"></script>
 