<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" href="/MyPage/myPageStyle.css">
    <style>
    .userModify > div{
        padding: 1rem;

}

    .pwModal{
            position:absolute;
            display:flex;
            justify-content: center;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.4);
        }
        
        .pwModalBody{
            position:absolute;
            top:50%;
            width:35%;
            height:20%;
            padding:1.5rem;  
            text-align: center;
            background-color: white;
            border-radius:10px;
        }
        #pwError{
	display:none;
}
    
    </style>
        <div class="myPageContainer">

            <div class="myPageLeft">
                <div class="myInfo">
                    <p class="myName"><span th:text="${user.name}"></span>님</p>
                    <div class="myCard">
                        <div class="cardSaving">
                            <p>적립금</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardCash">
                            <p>캐쉬</p>
                            <p><span class="cardMoney">0</span>원</p>
                        </div>
                        <div class="cardMemberShip">
                            <p>멤버스 무료체험</p>
                        </div>
                    </div>
                </div>

                <div class="navContainer">
                    <ul>
                        <p>자주찾는 메뉴</p>
                        <li><a th:href="@{/myorder}">주문내역</a></li>
                        <li><a th:href="@{/mycoupon}">쿠폰</a></li>
                        <li><a href="#">찜한상품</a></li>
                        <li><a href="#">자주구매</a></li>
                    </ul>
                    <ul>
                        <p>쇼핑</p>
                        <li><a href="#">결제수단 or 00페이</a></li>
                        <li><a th:href="@{/myreview}">상품후기</a></li>
                        <li><a href="#">선물 내역</a></li>
                        <li><a href="#">상품 문의</a></li>
                    </ul>
                    <ul>
                        <p>혜택</p>
                        <li><a href="#">회사멤버스</a></li>
                    </ul>
                    <ul>
                        <p>내정보관리</p>
                        <li><a href="#">배송지관리</a></li>
                        <li><a th:href="@{/usermodify}">개인정보수정</a></li>
                        <li><a th:href="@{/signout}">회원 탈퇴</a></li>
                    </ul>
                    <ul>
                        <p>서비스안내</p>
                        <li><a href="#">퍼플박스</a></li>
                        <li><a href="#">VIP제도 안내</a></li>
                    </ul>
                </div>
            </div>


            <div class="myPageRight">
                <div class="myPageTitle">
                    <p>개인정보 수정</p>
                    
                    <div class="pwModal" id="pwModal">
            <div class="pwModalBody">
                <h2>패스워드를 입력해주세요</h2>
                <form id="pwCheckForm">

                <input type="hidden" id="_csrf" >
              <!--  <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->

                    <input type="password" id="password" name="password" required>
                    <button type="submit" id="pwCheckBtn">확인</button>
                </form>
                <p id="pwError">비밀번호가 일치하지 않습니다.</p>
            </div>
        </div>
                    
                    

        <div id="userModifyContainer">
            <form th:action="@{/usermodify}" th:object="${userModifyForm}" method="post">
                 <!--  <div id="erorrs" th:replace="~{login/form_errors :: formErrorsFragment}"></div>
                  -->
                  
                  
                  <div class="userInfoEmail">
                  <div>이메일</div>
                  <input type="text" th:field="*{email1}"/>
                  <span>@</span>
                    <input class="box" type="text" th:field="*{email2}">
                    <select name="box" id="domain-list" type="text" class="box">
                      <option value="type">직접입력</option>
                      <option value="naver.com">naver.com</option>
                      <option value="google.com">google.com</option>
                      <option value="hanmail.net">hanmail.net</option>
                      <option value="nate.com">nate.com</option>
                      <option value="kakao.com">kakao.com</option>
                    </select>
                </div>
                
                <div class="userInfoTel">
                  <div>전화번호</div>
                  <input type="tel" th:field="*{tell}" onfocus="this.placeholder=''" maxlength="13" oninput="autoHyphen(this)" pattern="010-[0-9]{3,4}-[0-9]{4}" placeholder="- 없이 숫자만 입력하세요" 
                  id="tel" autocomplete="off" name="users_phone"  onblur="this.placeholder = '- 없이 숫자만 입력하세요'"/>
                </div>
                     
                     
                    <div class="userInfoAdress">
                    <div>주소</div>
                     
                     <input type="text" th:field="*{address1}" placeholder="우편번호" readonly>
                     <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                     <input type="text" th:field="*{address2}" placeholder="주소" readonly><br>
                     <input type="text" th:field="*{addressDetail}" placeholder="상세주소">
                     </div>
                     
                     <div class="userInfoGender">
                     <div> 성별</div>
                     
                     <label for="male">남성</label>
                     <input type="radio" th:field="*{gender}" value="남성">
                     <label for="female">여성</label>
                     <input type="radio" th:field="*{gender}" value="여성">
                     </div>


                     <input type="submit" value="수정하기">
                  </form>
                  
        </div> <!-- userModifyContainer 끝 -->
                  </div>
        </div>
    </main>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
	
	let pwBtn = document.querySelector('#pwCheckBtn');
        pwBtn.addEventListener('click', function(e) {
    e.preventDefault();
    
    const password = document.getElementById('password').value; // 입력한 값을 password로 저장
    const csrfToken = document.getElementById('_csrf').value;
    
    fetch('http://localhost:8080/pwcheck', { // http://localhost:8080/pwcheck에 요청을 보냄
        method: 'POST', // post 형식
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded', // 컨텐츠 타입 정해주기 솔직히 이거 뭔지 잘 모르겠는데 예제에 있던거 그냥 넣음
            'X-CSRF-TOKEN': csrfToken // 서프토큰도 같이
        },
        body: new URLSearchParams({password: password}) // 현 페이지에서 입력한 password값을 password로 전송?
    })
    .then(response => response.json())  // 응답을 JSON 객체로 변환하여 받아오기
    .then(data => {
	// 받아온 json 데이터가 담긴 data
        if(data.pwChecked) {  // data에 있는 pwChecked값 체크
            document.getElementById('pwModal').style.display = 'none'; // pwChecked가 true면 모달창 none
        } else {
            document.getElementById('pwError').style.display = 'block'; // pwChecked가 false면 에러메세지 켜기
        }
    })
    .catch(error => {
        alert("연결에 실패하였습니다.");
        console.error('Error:', error);
    });
});
 
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('address1').value = data.zonecode;
                document.getElementById("address2").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addressDetail").focus();
            }
        }).open();
    }
    
    // 도메인 직접 입력 or domain option 선택
	const domainListEl = document.querySelector('#domain-list')
	const domainInputEl = document.querySelector('#email2')
	// select 옵션 변경 시
	domainListEl.addEventListener('change', (event) => {
	  // option에 있는 도메인 선택 시
	  if(event.target.value !== "type") {
	    // 선택한 도메인을 input에 입력하고 disabled
	    domainInputEl.value = event.target.value
	    domainInputEl.readOnly = true
	  } else { // 직접 입력 시
	    // input 내용 초기화 & 입력 가능하도록 변경
	    domainInputEl.value = ""
	    domainInputEl.readOnly = false
	  }
	})
	
	const autoHyphen = (target) => {
	  target.value = target.value
	   .replace(/[^0-9]/g, '')
	   .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
	}


	</script>
 