/* -----------AdminMerchandise------------------------------ */
.AdminMerchandise{
    display: flex;
    justify-content: row;
    /* border: solid 2px black; */
    background-color: #fffdf6;
    min-width: 1024px;
}

/* -----------메인---------------------------------------------- */
.MerchandiseMain{
    /* border: solid 2px orange; */
    width: 90%;
    padding: 16px;
}
/* ---------버튼스타일----------------------- */
.btn-style{
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 0 9px;
    border: 0px;
    height: 30px;
    color: black;
    background-color: #fce699;
    font-weight: bold;
    cursor: pointer;
}
.quick-select-button {
    padding: 5px 10px;
    margin: 0 4px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: normal;
}

.quick-select-button:hover {
    background-color: #fce699; /* 버튼 호버 시 배경색 */
    color: black; /* 버튼 호버 시 텍스트 색상 */
    border: 1px solid #fce699;
}

/* ---------searchLine----------------------- */
.searchLine{
    padding-top: 10px;
}
select{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin-right: 8px;
}
.searchtext{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 500px;
    height: 30px;
}
.searchLine > button{
    margin-left: 7px;
}

/* ---------filterLine----------------------- */
.filterLine{
    padding-top: 15px;
}


/* ---------BtnLine----------------------- */
.BtnLine{
    border-bottom: solid 2px #fce699;
    padding-bottom: 16px;
}


/* ---------list-box----------------------- */
.list-box{
    padding: 16px 0 16px 10px;
}
.list-box>.title{
    margin-bottom: 5px;
    font-weight: bold;
}
.table-container{
    margin-top: 16px;
    border: solid 1.5px tomato;

}
.table-container{
    border: solid 1.5px #c2c2c2;
    background-color: white;
}
.table-scrollable{
    overflow-y: auto;
    height: 800px;
}
table{
    border: solid 1.5px #c2c2c2;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* 열 너비 자동 조정 */
}
tr,td{
    border: solid 1.5px #c2c2c2;
    padding: 8px;
    font-size: 14px;
    text-align: left;
    vertical-align: middle; /* 셀 내용 수직 정렬 */
    white-space: nowrap; /* 셀 내용 줄 바꿈 방지 */
    overflow: hidden; /* 내용 넘칠 경우 숨김 */
    text-overflow: ellipsis; /* 넘치는 내용에 '...' 추가 */
}
th {
    font-weight: bold;
    padding: 3px;
    min-width: 20px; /* 최소 너비 설정 */
    text-align: center;
    background-color: #fffdfd;
}
td {
    min-width: 20px; /* 최소 너비 설정 */
}
input[type="checkbox"] {
    zoom: 1.5;
}
.check-item{ /*체크박스 가운데 정렬*/
    display: flex;
    justify-content: center;
}