/* -----------AdminReviews------------------------------ */
.AdminReviews{
    display: flex;
    justify-content: row;
    /* border: solid 2px black; */
    background-color: #fffdf6;
    min-width: 1024px;
}

/* -----------메인---------------------------------------------- */
/* -----------검색, 삭제 버튼------------------------------------- */
.ReviewsMain{
    /* border: solid 2px orange; */
    width: 90%;
    padding: 1rem;
}
.ReviewsMain>h1{
    padding-left: 15px;
}
#searchBox{
    padding: 15px 15px;
}
#searchBox > select{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px #fce699;
}
#searchBox > input[type=text]{
    width: 400px;
    height: 30px;
    position: relative;
    padding-left: 5px;
    border-radius: 10px;
    border: solid 2px #fce699;
}
.searchbtn{
    margin-left: 5px;
    border-radius: 10px;
    border: 0px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: #fce699;
    position: absolute;
}
.userDelete{
    margin-left: 15px;
    border-radius: 10px;
    border: 0px;
    width: 100px;
    height: 30px;
    color: black;
    background-color: #fce699;
    position: relative;
    left: 100px;
}
button:hover{
    cursor: pointer;
}
/* -----------정보(컬럼박스)------------------------------------- */
#columnBox {
    margin-top: 20px;
    padding: 14px;
    background-color: #fce699;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
}
#columnBox > span { display: inline-block; 
                    padding-right: 10px;}
#columnBox > span:nth-child(1) { width: 100px; } /*선택*/
#columnBox > span:nth-child(2) { width: 200px; } /*ID*/
#columnBox > span:nth-child(3) { width: 600px; } /*상품명*/
#columnBox > span:nth-child(4) { width: 200px; } /*별점*/
#columnBox > span:nth-child(5) { width: 200px; } /*등록일*/

.Rows {
    padding: 14px;
    display: flex; /* 창 줄일때 레코드 2줄로 생겨서 flex로 지정 */
    background-color: white;
    border-radius: 10px;
    margin-top: 1px;
}
.Rows > span { 
    display: inline-block; 
    padding-right: 10px;
}
.Rows > span:nth-child(1) { width: 100px; }
.Rows > span:nth-child(2) { width: 200px; }
.Rows > span:nth-child(3) { width: 600px; }
.Rows > span:nth-child(4) { width: 200px; }
.Rows > span:nth-child(5) { width: 200px; }

.Rows input{
    zoom: 1.3;
}

.Rows:hover{
    border: solid 2px black;
    cursor: pointer;
}

/* ---------페이징 버튼---------------------------------------- */
#pageBtn > ul {
    display: flex;
    width: 200px;
    list-style-type: none;
    margin: 0px auto;
    margin-top: 50px
}
#pageBtn li:not(.active):not(.disabled):hover {
    background-color: #eee;
}
#pageBtn li:not(.active):not(.disabled):hover > a {
    cursor: pointer;
}
#pageBtn li {
    display: inline-block;
    background-color: white;
    border: 2px solid #fce699;
    margin-left: -1px;
}
#pageBtn li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#pageBtn li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#pageBtn a {
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    color: black;
}
/* #pageBtn .active {
    background-color: rgb(255, 192, 0);
} */
#pageBtn .active > a {
    color: white;
}
#pageBtn .disabled {
    background-color: #ddd;
}
#pageBtn .disabled > a {
    pointer-events: none; /* 포인터 이벤트 동작 X */
    color: rgb(68, 68, 68);
}