/* -----------AdminNotice------------------------------ */
.AdminNotice{
    display: flex;
    justify-content: row;
    /* border: solid 2px black; */
    min-width: 1024px;
}

/* -----------메인---------------------------------------------- */
/* -----------검색, 삭제 버튼------------------------------------- */
.NoticeMain{
    /* border: solid 2px orange; */
    width: 90%;
    padding: 1rem;
}
.NoticeMain>h1{
    padding-left: 15px;
}
#searchBox{
    padding: 15px 15px;
}
#searchBox > select{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px #fce699;
}
#searchBox > input[type=text]{
    width: 400px;
    height: 30px;
    position: relative;
    padding-left: 5px;
    border-radius: 10px;
    border: solid 2px #fce699;
}
.searchbtn{
    margin-left: 5px;
    border-radius: 10px;
    border: 0px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: #fce699;
    position: absolute;
}
.createbtn{
    margin-left: 15px;
    border-radius: 10px;
    border: 0px;
    width: 100px;
    height: 30px;
    color: black;
    background-color: #fce699;
    position: relative;
    left: 100px;
}
.selectDel{
    display: inline-block;
    margin-left: 15px;
    border-radius: 10px;
    border: 0px;
    width: 100px;
    height: 30px; line-height: 30px;
    color: black;
    background-color: #fce699;
    position: relative;
    left: 100px;
    font-size: 14px; text-align: center;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
/* -----------정보(컬럼박스)------------------------------------- */
#columnBox {
    margin-top: 20px;
    padding: 14px;
    background-color: #fce699;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
}
#columnBox > span { display: inline-block; 
                    padding-right: 10px;}
#columnBox > span:nth-child(1) { width: 100px; } /*선택*/
#columnBox > span:nth-child(2) { width: 700px; } /*제목*/
#columnBox > span:nth-child(3) { width: 400px; } /*작성자*/
#columnBox > span:nth-child(4) { width: 400px; } /*작성일*/

.Rows {
    padding: 14px;
    display: flex; /* 창 줄일때 레코드 2줄로 생겨서 flex로 지정 */
    background-color: white;
    border-radius: 10px;
    margin-top: 1px;
}
.Rows > span { 
    display: inline-block; 
    padding-right: 10px;
}
.Rows > span { width: 100px; }/*선택*/
.list_title { width: 700px; }/*제목*/
.list_admin { width: 400px; }/*작성자*/
.list_updateDate { width: 400px; }/*작성일*/

[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.Rows:hover{
    border: solid 2px black;
    cursor: pointer;
}

/* ---------페이징 버튼---------------------------------------- */
#pageBtn > ul {
	display: flex;
	list-style-type: none;
	margin-top: 30px;
	justify-content: center;
}
#pageBtn li:not(.active):not(.disabled):hover {
	background-color: #eee;
}
#pageBtn li:not(.active):not(.disabled):hover > a {
	color: rgb(40, 40, 255);
}
#pageBtn li {
	display: inline-block;
	background-color: white;
	border: 1px solid #ddd;
	margin-left: -1px;
}
#pageBtn li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#pageBtn li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#pageBtn a {
	text-decoration: none;
	display: inline-block;
	padding: 6px 12px;
	/*color: rgb(206, 154, 0);*/
}
#pageBtn .active {
	background-color: #0D6EFD;
}
#pageBtn .active > a {
	color: white;
	pointer-events: none; /* 포인터 이벤트 동작 X */
}
#pageBtn .disabled {
	background-color: #ddd;
}
#pageBtn .disabled > a {
	pointer-events: none; /* 포인터 이벤트 동작 X */
	color: rgb(68, 68, 68);
}