/* -----------AdminNotice_detail------------------------------ */
.AdminNotice_detail{
    display: flex;
    justify-content: row;
    /* border: solid 2px black; */
    background-color: #fffdf6;
    min-width: 1024px;
}

/* -----------메인---------------------------------------------- */
.Notice_detailMain{
    /* border: solid 2px orange; */
    width: 90%;
    display: inline-block;
    padding: 1rem 0 2rem 2.5rem;
}

/* 글 내용 구역 */
#noticebox{
    display: block;
}
#content-box{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.content_border {
    border-radius: 10px;
    display: inline-block; /* 내부 테이블 크기에 맞춤 */
    border: 2px solid #fce699; 
    overflow: hidden; /* 넘치는 건 감춤 */
    margin-top: 15px;
}
td {
    border: 2px solid #fce699;
}
tr {
    background-color: white;
}
table {
    border-collapse: collapse;
    width: 950px;
    max-width: 1000px;
    height: 650px;
    border-style: hidden; /* 두께 맞추기 위해 border-style 숨김 */
}

table .writing-title { /* 글 제목 <tr> */
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}
table .top > td{
    padding-left: 20px;
}
table .writing-id-date {
    height: 50px;
}
table .writing-td-title{ /* ID, 등록날짜, 내용 컬럼 */
    width: 120px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
table .writing-id-date > .writing-td-content{ /* ID, 등록날짜 값 */
    width: 240px;
}
table .writing-td-content{ /* ID, 등록날짜, 내용 값 */
    padding-left: 15px;
    font-size: 16px;
}
table .writing-td-content-pre{ /* 내용 값 */
    padding-top: 20px;
    height: 550px;
    width: 800px;
    font-size: 16px;
    white-space: pre-wrap; /* 줄바꿈 설정 */
    line-height: 22px;
    overflow-y: auto;
}


/* --수정하기 구역------------------------------------------ */
form{
    display: none;
}
form input[type="text"] {
    border-width: 0px;
    width: 100%;
    outline: none; /* 포커스 상태일때 두께 생기는거 없애기 */
    font-size: 17px;
}
textarea {
    border-width: 0px;
    height: 550px;
    width: 800px;
    outline: none; /* 포커스 상태일때 두께 생기는거 없애기 */
    resize: none;
    overflow-y: auto;
}

/* --버튼 스타일 -------------------------------------*/
.btn-style {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fce699;
    width: 90px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}
