/* -----------AdminNotice_create------------------------------ */
.AdminNotice_create{
    display: flex;
    justify-content: row;
    /* border: solid 2px black; */
    background-color: #fffdf6;
    min-width: 1024px;
}

/* -----------메인---------------------------------------------- */
.AdminNotice_createMain{
    /* border: solid 2px orange; */
    width: 90%;
    display: inline-block;
    padding: 1rem 0 2rem 2.5rem;
}

/* 글 내용 구역 */
#content-box{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.content_border {
    border-radius: 10px;
    display: inline-block; /* 내부 테이블 크기에 맞춤 */
    border: 2px solid #fce699; 
    overflow: hidden; /* 넘치는 건 감춤 */
    margin-top: 15px;
}
td {
    border: 2px solid #fce699;
}
tr {
    background-color: white;
}
table {
    border-collapse: collapse;
    width: 1000px;
    max-width: 1000px;
    height: 600px;
    border-style: hidden; /* 두께 맞추기 위해 border-style 숨김 */
}

/* 버튼 스타일 */
.btn-style {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fce699;
    width: 90px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

/********************/
.btn-style {
    margin-top: 20px;
    background-color: #fce699;
    width: 90px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

/* 답변 등록 */
#create-table .writing-td-title{
    font-weight: bold;
    width: 90px;
    text-align: center;
    font-size: 17px;
}
#create-table .writing-td-content{ /* 답변 등록의 제목, 내용 값 */
    width: 640px;
}
#create-table #writing-td-text {
    border-width: 0px;
    width: 630px;
    height: 30px;
    outline: none; /* 포커스 상태일때 두께 생기는거 없애기 */
    font-size: 17px;
}
#create-table #writing-td-textarea {
    border-width: 0px;
    width: 640px;
    height: 500px;
    outline: none; /* 포커스 상태일때 두께 생기는거 없애기 */
    font-size: 17px;
    resize: none;
    line-height: 22px;
}

/* 답변 저장, 초기화 버튼 */
#btn-box {
    width: 250px;
}
#btn-box > button:nth-child(2) {
    margin-left: 20px;
}