main{
    padding-left: var(--layoutpadding);
    padding-right: var(--layoutpadding);
    padding-top: 5rem ;
    padding-bottom: 5rem ;
}

main>.loginContainer{
    width: 100%;
    min-width:  var(--pageMinWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.loginContainer>p{
    padding: 1rem 0 1rem 0 ;
    font-size: var(--titleFont);
    font-weight: 500;
}

.loginContainer>form>input{
    display: block;
    border: 1px solid var(--subFontColor);
    width: 22rem;
    height: 3.5rem;
    padding-left:1rem ;
    margin: 1rem 0 1rem 0;
    border-radius: 0.3rem;
}





.findContainer{
    display: flex;
    justify-content: end;
    font-size: 14px;
    margin: 0 0 2rem 0;
}

.findContainer>.findBtn{
    padding: 0 0.5rem 0 0.5rem;
}


.findBtn.passwordFind{
    padding-right: 0rem;
    position: relative;
}
.findBtn.passwordFind::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-left: 1px solid var(--subFontColor);
    height: 70%;
}


.loginBtn{
    height: 3.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    border-radius: 0.3rem;
    cursor: pointer;
}

.loginContainer>form>.login{
    background-color: var(--mainColor);
    color: white;
}
.signIn{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}