main{
    box-sizing: border-box;
    margin: 0;
}

main>.csContainer {
    padding-left: var(--layoutpadding);
    padding-right: var(--layoutpadding);
    min-width: var(--pageMinWidth);
    display: flex;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

main>.csContainer>.csSideNav {
    width: 20%;
}

.csSideNav>.csSideNavTitle {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 2rem;
}

.csSideNav>ul {
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 0px 2px 2px rgb(223, 223, 223);
}

.csSideNav>ul>li>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-bottom: 1px solid rgb(209, 209, 209);
    color: rgb(136, 136, 136);
    font-weight: 600;
}
.csSideNav>ul>li>a:last-child{
    border-bottom: none;
}
.csSideNav>ul>li>a>p,
.csSideNav>ul>li>a>i {
    color: rgb(209, 209, 209);
    font-weight: 600;
}

.csSideNav>ul>li.on {
    background-color: rgb(240, 240, 240);
}

.csSideNav>ul>li.on>a>p,
.csSideNav>ul>li.on>a>i {
    color: var(--mainColor);
}

main>.csContainer{
    width: 100%;
}

main>.csContainer>ul {
    width: 100%;
    position: relative;
}
main>.csContainer>ul>.csContent{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: .2s;
}
main>.csContainer>ul>.csContent.on{
    opacity: 1;
    z-index: 10;
}

.askContainer{
    width: 80%;
}

.askContainer>.askCon{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    font-size: var(--titleFont);
    font-weight: 500;
 }
.askTitleCon{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 h2{
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 48px;
 }

 .askconContainer{
    width: 80%;
    padding: 4px, 20px;
    border-top: 2px solid rgb(51, 51, 51);
 }
 .type{
    display: flex;
    padding: 12px 0px;
    align-items: start;
 }
 
 .type>
 .orderNum,.subject,.content{
    width: 15%;
    font-size: 14px;
    line-height: 44px;
 }
 
 .imp{
    color: red;
 }

 .typeSelect,
 .inputSubject,
 .inputContent{
    width: 85%;
 }

 .typeSelect select,
 .subjectText{
     width: 100%;
     height: 44px;
     padding: 0px 54px 0px 16px;
     border: 1px solid rgb(221, 221, 221);
     border-radius: 5px;
     font-size: 14px;
 }

.contentCon{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 536px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
} 
.inquiry-contents{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 21px;
    word-break: break-all;
    z-index: 1;
    background: none;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    outline: none;
    resize: none;
    border: none;
}

textarea {
    overflow: auto;
}
.conPlaceholder{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 15px 15px 32px;
}

.contentNoti{
    font-size: 12px;
    line-height: 20px;
    color: rgb(203, 203, 203);
}

.submitContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.submitBtn{
    width: 160px;
    height: 56px;
    padding: 0px 10px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: white;
    cursor: pointer;
    background-color: var(--mainColor);
    font-weight: 500;
    border-radius: 3px;
    border: none;
}