*{
    box-sizing: border-box;
    margin: 0;
}
.mainWhole{
    width: 1050px;
    margin: 0px auto;
}

.NoticeHeader{
    width: 100%;
    padding: 50px 0px;
}

.NoticeTitle{
    font-weight: 700;
    font-size: 28px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    text-align: center;
}

.NoticeTitle2{
    margin-top: 5px;
    color: rgb(153, 153, 153);
    line-height: 20px;
    text-align: center;
}

/* 내용 */
.mainContainer{
    margin-top: 20px;
    border-top: 2px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
}

.contentCon{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.mainTitle{
    width: 130px;
    padding: 13px 0px 13px 20px;
    background-color: rgb(247, 245, 248);
    border-top: 1px solid rgb(244, 244, 244);
    text-align: left;
    font-weight: 500;
}

.mainSub{
    padding-left: 25px;
    align-self: center;
}

.contentContainer{
    padding: 30px 10px 100px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
}

.invenContainer{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    justify-content: flex-end;
}

.invenBtn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 42px;
    cursor: pointer;
    background-color: var(--mainColor);
    border: 0px none;
}

.invenText{
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}