
main>.csContainer {
    padding-left: var(--layoutpadding);
    padding-right: var(--layoutpadding);
    min-width: var(--pageMinWidth);
    display: flex;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}


main>.csContainer>.csSideNav {
    width: 20%;
}

.csSideNav>.csSideNavTitle {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 2rem;
}

.csSideNav>ul {
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 0px 2px 2px rgb(223, 223, 223);
}

.csSideNav>ul>li>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-bottom: 1px solid rgb(209, 209, 209);
    color: rgb(136, 136, 136);
    font-weight: 600;
}
.csSideNav>ul>li>a:last-child{
    border-bottom: none;
}
.csSideNav>ul>li>a>p,
.csSideNav>ul>li>a>i {
    color: rgb(209, 209, 209);
    font-weight: 600;
}

.csSideNav>ul>li.on {
    background-color: rgb(240, 240, 240);
}

.csSideNav>ul>li.on>a>p,
.csSideNav>ul>li.on>a>i {
    color: var(--mainColor);
}




main>.csContainer{
    width: 100%;
}

main>.csContainer>ul {
    width: 100%;
    position: relative;
}
main>.csContainer>ul>.csContent{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: .2s;
}
main>.csContainer>ul>.csContent.on{
    opacity: 1;
    z-index: 10;
}


.csContent>.csTitle {
    font-size: var(--titleFont);
    font-weight: 500;
    padding-bottom: 2rem;
    padding-top: 0.6rem;
}

.csContent>.csTitle>span {
    font-size: var(--contentFont);
    color: rgb(156, 156, 156);
    padding-left: 1rem;
}

.csContent>.csInfo{
    border-collapse: collapse;
    font-weight:lighter;
    width: 100%;
}
.csContent tr{
    border-bottom: 1px solid rgb(226, 226, 226);
}
.csContent tr:first-child{
    border-top: 2px solid rgb(49, 49, 49);
    border-bottom: 1px solid rgb(49, 49, 49);
}

th , td{ 
    padding: 1rem 0 1rem 0;
    text-align: center;
    color: rgb(68, 68, 68);
}
td{
    font-weight: 400;

}
th , td{
    width: 15%;
}

th:nth-child(2){
    width: 50%;
    text-align: center;
}

td:nth-child(2){
    text-align: left;
}

.askBtn{
    position: relative;
    margin-top: 3rem;
}

.askBtn > a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    background-color: var(--mainColor);
    color: white;
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.paginBtn{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}




/* 페이징 처리  */

.pagingNav {
    margin-top: 1.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination>li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pagination>li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(90, 90, 90);
    font-weight: 900;
}
