/* -----------AdminRegistration------------------------------ */
.AdminRegistration{
    display: flex;
    justify-content: row;
    /* border: solid 2px black; */
    background-color: #fffdf6;
    min-width: 1024px;
}

/* -----------메인---------------------------------------------- */
.RegistrationMain{
    /* border: solid 2px orange; */
    width: 90%;
    padding: 16px;
}

section{
    margin-top: 10px;

}

select{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin-right: 8px;
}
.searchtext{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 500px;
    height: 30px;
}

/* ---------상품이미지------------------------------ */
.Img_container{
    border: solid 1.5px #ddd;
    width: 1000px;
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
}
.Imgbox{
    display: flex;
    
}
.Representative_img , .Detailed_img{
    border: solid 1.5px #ddd;
    width: 480px;
    margin: 10px;
    border-radius: 5px;
    height: 480px;
}

/* ---------버튼스타일------------------------------ */
.btn-style{
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 0 9px;
    border: 0px;
    height: 30px;
    color: black;
    background-color: #fce699;
    font-weight: bold;
    cursor: pointer;
}