<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* FOOTER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
     <footer th:fragment ="footerFragment">
        <div class="footerCon footerCon01">


            <div class="csContainer">
                <div class="csText">
                    <p>고객행복센터</p>

                    <div class="companyNum">
                        <p>1644-1107</p>
                        <p><span>월~토요일 오전 7시 - 오후6시</span></p>
                    </div>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <p>비회원문의 : help@naver.com</p>
            </div>

            <div class="introduceContainer">
                <ul class="companyNav">
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">회사소개영상</a></li>
                    <li><a href="#">투자정보</a></li>
                    <li><a href="#">인재채용</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
                <div class="introduceText">
                    <p>법인명 : lorem | 사업자등록번호 : 000-00-00000 &emsp;<a href="#">사업자정보 확인</a></p>
                    <p>통신판매업 : 제 2024-경기안산-1515호</p>
                    <p>주소 : 경기도 안산시 상록구 이동 000호 5층 | 대표이사 : 백경빈</p>
                    <p>채용문의 : <a href="#">abcd@naver.com</a></p>
                    <p>팩스 : 000 - 0000 - 0000</p>
                </div>
                <ul class="snsContainer">
                    <!-- <a target="_blank" href="https://icons8.com/icon/ww630cOi80NH/target-logo">표적</a> 작가: <a target="_blank" href="https://icons8.com">Icons8</a> -->
                    <li><a href="#"><img src="../static/img/facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/youtube.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/instagrem.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/target.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/blog.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="footerCon footerNotice">
            <p>&copy; by BeakGyeoungBin ALL RIGHT</p>
        </div>
    </footer>