<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* HEADER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <header th:fragment ="headerFragment">
        <div class="headerBanner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt libero odit pariatur tempore
                facilis magni quia veritatis</p>
            <div class="closeBtn"><i class="fa-solid fa-x"></i></div>
        </div>

        <div class="headerUp_Container">
            <div class="headerLogo">
                <p><span>B</span>-Team</p>
            </div>

            <div class="searchContainer">
                <form action="post">
                    <input type="text" class="searchBar" placeholder="SEARCH">
                    <div class="searchBtn btn"><i class="fa-solid fa-magnifying-glass"></i></div>
                </form>
            </div>
            <ul class="contentNav">
                <li class="wishList">
                    <a href="#">
                        <p>
                            <i class="fa-regular fa-heart"></i>
                        </p>
                    </a>
                </li>
                <li class="cart">
                    <a th:href="@{/cart}">
                        <p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </p>
                    </a>
                </li>
                <li class="login">
                    <a href="#">
                        <p>
                            <i class="fa-regular fa-user"></i>
                        </p>
                    </a>
                </li>
                <li class="customerService">
                    <a th:href="@{/csc}">
                        <p>
                            <i class="fa-solid fa-headset"></i>
                        </p>
                    </a>
                    <ul>
                     <!--   <li><a th:href="@{/csc}">1:1 문의</a></li>
                        <li><a th:href="@{/csc}">공지사항</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="headerDown_Container">
            <div class="categoryContainer">
                <p><span><i class="fa-solid fa-bars"></i></span>Category</p>
                <ul class="category">
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                </ul>
            </div>
            <ul class="event">
                <li><a href="#">BEST</a></li>
                <li><a href="#">NEW</a></li>
                <li><a href="#">Seler</a></li>
                <li><a href="#">event</a></li>
            </ul>
            <div class="languageContainer">
                <div class="language">
                    <p>KR</p>
                    <p>EN</p>
                </div>
            </div>
        </div>
    </header>
<script src="../static/Layout/headerModul.js"></script>
