<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productDetail</title>
    <link rel="stylesheet" th:href="@{/Product/reset.css}">
    <link rel="stylesheet" th:href="@{/Product/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/Product/productDetailPageStyle.css}">
    <link rel="stylesheet" th:href="@{/Product/footerStyle.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* HEADER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->

    <header>
        <div class="headerBanner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt libero odit pariatur tempore
                facilis magni quia veritatis</p>
            <div class="closeBtn"><i class="fa-solid fa-x"></i></div>
        </div>

        <div class="headerUp_Container">
            <div class="headerLogo">
                <a href="mainPage.html">
                    <p><span>B</span>-Team</p>
                </a>
            </div>

            <div class="searchContainer">
                <form action="post">
                    <input type="text" class="searchBar" placeholder="SEARCH">
                    <div class="searchBtn btn"><i class="fa-solid fa-magnifying-glass"></i></div>
                </form>
            </div>
            <ul class="contentNav">
                <li class="wishList">
                    <a href="#">
                        <p>
                            <i class="fa-regular fa-heart"></i>
                        </p>
                    </a>
                </li>
                <li class="cart">
                    <a href="#">
                        <p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </p>
                    </a>
                </li>
                <li class="login">
                    <a href="loginPage.html">
                        <p>
                            <i class="fa-regular fa-user"></i>
                        </p>
                    </a>
                </li>
                <li class="customerService">
                    <a href="csPage.html">
                        <p>
                            <i class="fa-solid fa-headset"></i>
                        </p>
                    </a>
                    <ul>
                        <li><a href="csPage.html">공지사항</a></li>
                        <li><a href="csPage.html">자주하는 질문</a></li>
                        <li><a href="csPage.html">1:1 문의</a></li>
                        <li><a href="csPage.html">대량주문 문의</a></li>
                    </ul>   
                </li>
            </ul>
        </div>
        <div class="headerDown_Container">
            <div class="categoryContainer">
                <p><span><i class="fa-solid fa-bars"></i></span>Category</p>
                <ul class="category">
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                </ul>
            </div>
            <ul class="event">
                <li><a href="#">BEST</a></li>
                <li><a href="#">NEW</a></li>
                <li><a href="#">Seler</a></li>
            </ul>
            <div class="languageContainer">
                <div class="language">
                    <p>KR</p>
                    <p>EN</p>
                </div>
            </div>
        </div>
    </header>


    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main>
        <div class="productContainer">
            <div class="productImg">
                <img src="https://via.placeholder.com/400x500.jpg" alt="300 * 300 size image">
            </div>
            <div class="product">
                <div class="productTitle">
                    <p th:text="${p.name}"></p>
                <!--<p class="subTitle">Lorem ipsum dolor sit amet consectetur adipi</p>-->
                </div>
                <div class="productPrice">
                	<p class="originPrice">12,500원 </p>
                    <p th:text="${p.price}"></p>원
                    
                </div>
                <div class="productOrigin">
                    <p>원산지 : 상품설명/상세정보 참조</p>
                </div>
                <table>
                    <tr>
                        <th>배송</th>
                        <td>샛별배송</td>
                    </tr>
                    <tr>
                        <th>판매자</th>
                        <td>샛별배송</td>

                    </tr>
                    <tr>
                        <th>포장타입</th>
                        <td>샛별배송</td>
                        
                    </tr>
                    <tr>
                        <th>판매단위</th>
                        <td>샛별배송</td>
                    
                    </tr>
                    <tr>
                        <th>중량/용량</th>
                        <td>샛별배송</td>
                    
                    </tr>
                    <tr>
                        <th>알레르기정보</th>
                        <td>샛별배송</td>
                    
                    </tr>
                    <tr>
                        <th>상품선택</th>
                        <td>
                            <div class="countbox">
                                <button class="countdown" type="button" aria-label="수량내리기">–</button>
                                <div class="count">1</div>
                                <button class="countup" type="button" aria-label="수량올리기">+</button>
                            </div>
                        </td>
                    
                    </tr>
                </table>
                <div class="sumPrice">
                    <p>총 상품금액 : <span>9,900 </span><span>원</span></p>
                </div>
                <div class="detailcartIn">
                    <div class="Con like">
                        <p>
                            <i class="fa-regular fa-heart"></i>
                        </p>
                    </div>
                    <div class="Con alarm">
                        <p>
                            <i class="fa-regular fa-bell"></i>
                        </p>
                    </div>
                    <div class="cartInBtn">장바구니 담기</div>
                </div>
            </div>
        </div>
        <div class="productRelate">
            <ul class="productRelateNav">
                <li><a href="#">상품설명</a></li>
                <li><a href="#">상세정보</a></li>
                <li><a href="#">후기<span>(61)</span></a></li>
                <li><a th:onclick="|location.href='@{/csc}'|">문의</a></li>
            </ul>
            <ul class="productExplainContainer">
                <li class="productExplain on">
                상품설명 이미지 추후 추가
                </li>
                <li class="productExplain">
                    상세정보 이미지 추후 추가
                </li>
                <li class="productExplain">
                    UI추가
                </li>
                <li class="productExplain">
                </li>
            </ul>
        </div>









    </main>
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* FOOTER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->

    <footer>
        <div class="footerCon footerCon01">
            <div class="csContainer">
                <div class="csText">
                    <p>고객행복센터</p>

                    <div class="companyNum">
                        <p>1644-1107</p>
                        <p><span>월~토요일 오전 7시 - 오후6시</span></p>
                    </div>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <p>비회원문의 : help@naver.com</p>
            </div>

            <div class="introduceContainer">
                <ul class="companyNav">
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">회사소개영상</a></li>
                    <li><a href="#">투자정보</a></li>
                    <li><a href="#">인재채용</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
                <div class="introduceText">
                    <p>법인명 : lorem | 사업자등록번호 : 000-00-00000 &emsp;<a href="#">사업자정보 확인</a></p>
                    <p>통신판매업 : 제 2024-경기안산-1515호</p>
                    <p>주소 : 경기도 안산시 상록구 이동 000호 5층 | 대표이사 : 백경빈</p>
                    <p>채용문의 : <a href="#">abcd@naver.com</a></p>
                    <p>팩스 : 000 - 0000 - 0000</p>
                </div>
                <ul class="snsContainer">
                    <!-- <a target="_blank" href="https://icons8.com/icon/ww630cOi80NH/target-logo">표적</a> 작가: <a target="_blank" href="https://icons8.com">Icons8</a> -->
                    <li><a href="#"><img src="../static/img/facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/youtube.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/instagrem.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/target.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/blog.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="footerCon footerNotice">
            <p>&copy; by BeakGyeoungBin ALL RIGHT</p>
        </div>
    </footer>
    <script th:src="@{/Product/ATeamModul.js}"></script>
    <script th:src="@{/Product/headerModul.js}"></script>
    <script th:src="@{/Product/ProductDetailModul.js}"></script>
</body>

</html>