<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/Product/productDetailPageStyle.css}">
        <div class="productContainer">
            <div class="productImg">
                <img src="https://via.placeholder.com/400x500.jpg" alt="300 * 300 size image">
            </div>
            <div class="product">
                <div class="productTitle">
                    <p th:text="${p.name}"></p>
                <!--<p class="subTitle">Lorem ipsum dolor sit amet consectetur adipi</p>-->
                </div>
                <div class="productPrice">
                	<p class="originPrice">12,500원 </p>
                    <p th:text="${p.price}"></p>원
                    
                </div>
                <div class="productOrigin">
                    <p>원산지 : 상품설명/상세정보 참조</p>
                </div>
                <table>
                    <tr>
                        <th>배송</th>
                        <td>샛별배송</td>
                    </tr>
                    <tr>
                        <th>판매자</th>
                        <td>샛별배송</td>

                    </tr>
                    <tr>
                        <th>포장타입</th>
                        <td>샛별배송</td>
                        
                    </tr>
                    <tr>
                        <th>판매단위</th>
                        <td>샛별배송</td>
                    
                    </tr>
                    <tr>
                        <th>중량/용량</th>
                        <td>샛별배송</td>
                    
                    </tr>
                    <tr>
                        <th>알레르기정보</th>
                        <td>샛별배송</td>
                    
                    </tr>
                    <tr>
                        <th>상품선택</th>
                        <td>
                            <div class="countbox">
                                <button class="countdown" type="button" aria-label="수량내리기">–</button>
                                <div class="count">1</div>
                                <button class="countup" type="button" aria-label="수량올리기">+</button>
                            </div>
                        </td>
                    
                    </tr>
                </table>
                <div class="sumPrice">
                    <p>총 상품금액 : <span>9,900 </span><span>원</span></p>
                </div>
                <div class="detailcartIn">
                    <div class="Con like">
                        <p>
                            <i class="fa-regular fa-heart"></i>
                        </p>
                    </div>
                    <div class="Con alarm">
                        <p>
                            <i class="fa-regular fa-bell"></i>
                        </p>
                    </div>
                    <div class="cartInBtn">장바구니 담기</div>
                </div>
            </div>
        </div>
        <div class="productRelate">
            <ul class="productRelateNav">
                <li><a href="#">상품설명</a></li>
                <li><a href="#">상세정보</a></li>
                <li><a href="#">후기<span>(61)</span></a></li>
                <li><a th:onclick="|location.href='@{/csc}'|">문의</a></li><!--클릭 시 csc페이지로 연결-->
            </ul>
            <ul class="productExplainContainer">
                <li class="productExplain on"> <!--상품설명-->
                상품설명 이미지 추후 추가
                </li>
                <li class="productExplain"> <!--상세정보-->
                    상세정보 이미지 추후 추가
                </li>
                <li class="productExplain"> <!--리뷰-->
                    <h3>상품 후기</h3>
                    <div class="imgList">
                        <div class="imgbox"></div>
                        <div class="imgbox"></div>
                        <div class="imgbox"></div>
                        <div class="imgbox"></div>
                        <div class="imgbox"></div>
                        <div class="imgbox"></div>
                        <div class="imgbox"></div>
                        <div class="imgbox plus">+ 더보기</div>
                    </div>
                    <div class="rv_filter">
                        <div>총  <span>--</span>개</div>
                        <div style="white-space: pre;"><button class="ReviewBtn best">추천순</button>  |  <button class="ReviewBtn day">최근등록순</button></div>
                    </div>
                    <div class="rv_container">
                        <div class="rvLeft">
                            <div class="rv_Id">userId</div>
                            <div class="rv_scope">scope</div>
                            <div class="rv_day">updateDate</div>
                        </div>
                        <div class="rvRight">
                            <div class="rv_text">리뷰 내용... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab id, eius quod explicabo doloribus maxime repellat! Totam aspernatur repellendus sint facilis exercitationem, illum ipsam sapiente voluptate corporis obcaecati sunt explicabo?</div>
                            <div class="rv_img">첨부 사진...</div>
                        </div>
                    </div>
                    <div class="rv_container"><!--반복,, 백단연결 후 삭제-->
                        <div class="rvLeft">
                            <div class="rv_Id">userId</div>
                            <div class="rv_scope">scope</div>
                            <div class="rv_day">updateDate</div>
                        </div>
                        <div class="rvRight">
                            <div class="rv_text">리뷰 내용... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab id, eius quod explicabo doloribus maxime repellat! Totam aspernatur repellendus sint facilis exercitationem, illum ipsam sapiente voluptate corporis obcaecati sunt explicabo?</div>
                            <div class="rv_img">첨부 사진...</div>
                        </div>
                    </div>
                    <div class="rv_container">
                        <div class="rvLeft">
                            <div class="rv_Id">userId</div>
                            <div class="rv_scope">scope</div>
                            <div class="rv_day">updateDate</div>
                        </div>
                        <div class="rvRight">
                            <div class="rv_text">리뷰 내용... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab id, eius quod explicabo doloribus maxime repellat! Totam aspernatur repellendus sint facilis exercitationem, illum ipsam sapiente voluptate corporis obcaecati sunt explicabo?</div>
                            <div class="rv_img">첨부 사진...</div>
                        </div>
                    </div>
                    <div class="rv_container"> <!--페이징처리 필요-->
                        <div class="rvLeft">
                            <div class="rv_Id">userId</div>
                            <div class="rv_scope">scope</div>
                            <div class="rv_day">updateDate</div>
                        </div>
                        <div class="rvRight">
                            <div class="rv_text">리뷰 내용... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab id, eius quod explicabo doloribus maxime repellat! Totam aspernatur repellendus sint facilis exercitationem, illum ipsam sapiente voluptate corporis obcaecati sunt explicabo?</div>
                            <div class="rv_img">첨부 사진...</div>
                        </div>
                    </div>
                </li>
                <li class="productExplain">
                </li>
            </ul>
        </div>
    </main>
</div>
<script th:src="@{/Product/ATeamModul.js}"></script>
<script th:src="@{/Product/ProductDetailModul.js}"></script>