<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/Category/categoryPageStyle.css}">
        <div class="categoryContainer">
            <div class="categoryBanner">
                <a href="#"><img src="../static/img/Banner01.png" alt=""></a>
            </div>
            <div class="categoryTitle">
                <p>Category</p>
            </div>
            <ul class="categoryNav">
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
            </ul>
            <div class="categorySideNav">
                <div class="categorySideNavTop">
                    <p>필터</p>
                    <p class="resetBtn">초기화</p>
                </div>
                <div class="categorySideNavCon">
                    <div class="categorySideNavTitle">
                        <p>배송</p>
                        <p>open</p>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch01" name="ch" class="chBox">
                                    <label for="ch01">
                                        <div class="inputCircle"></div>샛별배송
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch02" name="ch" class="chBox">
                                    <label for="ch02">
                                        <div class="inputCircle"></div>샛별배송
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch03" name="ch" class="chBox">
                                    <label for="ch03">
                                        <div class="inputCircle"></div>샛별배송
                                    </label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="categorySideNavCon">
                    <div class="categorySideNavTitle">
                        <p>포장타입</p>
                        <p>open</p>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch04" name="ch" class="chBox">
                                    <label for="ch04">
                                        <div class="inputCircle"></div>상온
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch05" name="ch" class="chBox">
                                    <label for="ch05">
                                        <div class="inputCircle"></div>냉장
                                    </label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="categorySideNavCon">
                    <div class="categorySideNavTitle">
                        <p>가격</p>
                        <p>open</p>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch06" name="ch" class="chBox">
                                    <label for="ch06">
                                        <div class="inputCircle"></div>5,990원 미만
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch07" name="ch" class="chBox">
                                    <label for="ch07">
                                        <div class="inputCircle"></div>5,990원 미만
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch08" name="ch" class="chBox">
                                    <label for="ch08">
                                        <div class="inputCircle"></div>5,990원 미만
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="checkElementBox">
                                    <input type="checkbox" id="ch09" name="ch" class="chBox">
                                    <label for="ch09">
                                        <div class="inputCircle"></div>5,990원 미만
                                    </label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="categoryContent">
                
            </div>
        </div>
    </main>
</div>