.couponModal{
            position:absolute;
            display:none;
            justify-content: center;
            top:0;
            left:0;
            width:100vw;
            height:100%;
            background-color: rgba(0,0,0,0.4);
        }

        .couponModalBody{
            position:absolute;
            top:50%;
            width:30rem;
            padding:1.5rem;
            text-align: center;
            background-color: white;
            border-radius:10px;
        }

.couponListContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0.5rem 0;
    overflow: hidden;
}
.couponHeader {
    display: grid;
    margin-top: 1rem;
    padding-left:10px;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 2px solid;
    text-align: center;
    background-color: rgb(238, 238, 238);
}
.couponHeader span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.couponListInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
}
.couponListInfo span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
    #codeBtn, .modalCloseBtn{
	width: 70px;
	height: 35px;
	padding: 0.2rem;
	margin: 0.1rem;
}

#codeInput{
	resize: none;
}
.modalOpenDiv{
	margin-top: 1rem;
}
.openBtn{
	width: 150px;
	height: 35px;
}