.pwModal{
            position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
        }
        
        .pwModalBody{
            position:absolute;
            top:50%;
            width:25rem;
            padding:1.5rem;  
            text-align: center;
            background-color: white;
            border-radius:10px;
        }
        .pwModalContent{
	margin: 0.5rem;
}
        #pwError{
	display:none;
}
       .signoutTerms{
	    display: flex;
	    flex-direction:column;
	    align-items:center;
	    margin: 1rem 0;
	    padding: 1.5rem;
       }
       .signoutTerms > h1{
	border-bottom: 0.1rem solid black;
	display:inline-block;
	margin-bottom: 1rem;
}
       .signoutTerms > p{
	border: 0.1rem solid black;
	padding:  1rem;
	border-radius: 10px;
}
       .signoutContainer{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}
       .signoutBtn{
	padding: 0.15rem;
}