<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/Admin/Admin.css}">
    <link rel="stylesheet" th:href="@{/Admin/AdminReviews_detail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/> 
</head>
<!-- 리뷰 관리 상세페이지 -->
<body>
    <div th:replace="~{/Admin/AdminHeader :: AdminHeaderFragment}"></div><!--헤더 --> 
    
    <div class="AdminReviews_detail">
        <nav th:replace="~{/Admin/Adminnavbar :: AdminnavbarFragment}"></nav><!--네비바 -->     
        
        
        <div class="AdminReviews_detailMain"><!--메인****************************************************************-->
            <!-- 리뷰 내용을 보여줌 : 삭제기능 -->
            <h2>리뷰 관리 > 상세페이지</h2>
            <div id="content-box">
                <div class="content_border">
                    <table>
                        <tr class="writing-title">
                            <td th:text="${r.title}" colspan="4"></td>
                        </tr>
                        <tr class="writing-id-date">
                            <td class="writing-td-title">작성자</td>
                            <td th:text="${r.user.id}" class="writing-td-content"></td>
                            <td class="writing-td-title">작성일</td>
                            <td th:text="${r.updateDate}"  class="writing-td-content">update_date</td>
                        </tr>
                        <tr class="product">
                            <td class="writing-td-title">상품명</td>
                            <td th:text="${r.product.name}" class="writing-td-content"></td>
                            <td class="writing-td-title">별점</td>
                            <td th:text="${r.scope}" class="writing-td-content"></td>
                        </tr>
                        <tr class="writing-content">
                            <td class="writing-td-title">내용</td>
                            <td class="writing-td-content" colspan="3">
                                <pre th:text="${r.contents}" class="writing-td-content-pre">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas ipsam tempora provident, neque ea quaerat ducimus! Dolor ratione, sapiente dolorem delectus natus assumenda itaque animi eum in. Aliquam, excepturi sint!</pre>
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <a id="delete-btn" class="btn-style" href="javascript:void(0);" th:data-uri="@{|/admin/Reviews/detail/delete/${r.reviewId}|}">리뷰 삭제</a>
                    <!-- th:attr="data-id=${r.reviewId}" -->
                </div>
            
        </div><!--메인 끝-->
    </div>
    <script>
    const deleteBtn = document.querySelector("#delete-btn");/* 삭제버튼 */
    /* 리뷰 삭제 버튼 클릭시 */
    //삭제하시겠습니까?메세지 "확인"을 선택했을때 해당 컴포넌트의 data-uri 값으로 URL 호출을 하라는 의미
    deleteBtn.addEventListener('click', function(){
        if(confirm("정말로 삭제하시겠습니까?")){
            location.href = this.dataset.uri;
        }
    });


    </script>
</body>
</html>