<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/Admin/Admin.css}">
    <link rel="stylesheet" th:href="@{/Admin/AdminUserManagement.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/> 
</head>
<!-- 회원관리 -->
<body>
    <div th:replace="~{/Admin/AdminHeader :: AdminHeaderFragment}"></div><!--헤더 -->
    
    <div class="AdminUserManagement">
        <nav th:replace="~{/Admin/Adminnavbar :: AdminnavbarFragment}"></nav><!--네비바 -->   
                
        <div class="UserManagementMain"><!--메인****************************************************************-->
            <!-- 삭제 기능, 회원정보와 주문건수, 반품건수, 등록일을 보여줌 -->
            <h1>회원 관리</h1>
            <div id="searchBox"> <!-- 검색창 -->
                <select name="searchSelect" id="searchSelect">
					<option value="total" th:selected="${kwType} == total">전체</option>
					<option value="id" th:selected="${kwType} == id">ID</option>
					<option value="name" th:selected="${kwType} == name">이름</option>
				</select>
                <input type="text"  id="search_kw" placeholder="ID명 또는 이름을 입력해주세요." th:value="${kw}" onkeyup="enterkey()">
                <button class="fa-solid fa-magnifying-glass searchbtn" id="searchBtn"></button>

                <a class="selectDel" th:data-uri="@{|/admin/User/delete|}">회원 삭제</a>
            </div>

            <div id="columnBox"> <!-- 테이블 컬럼 -->
                <span><input type="checkbox" id="Select01" name="SelectAll"></span>
                <span>번호</span>
                <span>ID</span>
                <span>이름</span>
                <span>전화번호</span>
                <span>주소</span> 
                <span>주문건수</span>
                <span>반품건수</span>
                <span>등록일</span>
            </div>
            <div class="Rows" th:each="UList, loop : ${UList}">
                <span><input type="checkbox" th:id="'Select'+${UList.userId}" name="Select" class="Select"></span>
                <span th:text="${loop.count + ((page.pageNo-1) * page.pageSize)}"></span>
                <span th:text="${UList.id}"></span>
                <span th:text="${UList.name}"></span>
                <span th:text="${UList.tell}"></span>
                <span th:text="|${UList.address} ${UList.addressDetail}|"></span> 
                <span>--건</span>
                <span>--건</span>
                <span th:text="${#temporals.format(UList.createDate, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            
            <!-- 페이징 버튼 -->
			<div id="pageBtn" th:if="${page.totalPage} > 1">
				<ul>
					<li th:classappend="${page.pageNo == 1} ? 'disabled'">
						<a class="page-link" href="javascript:void(0)" th:data-page="1">처음으로</a>
					</li>
					<li>
						<a class="page-link" href="javascript:void(0)" th:if="${page.pageNo>1}" th:data-page="${page.pageNo-1}">이전</a>
					</li>
					<li th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}" th:classappend="${page.pageNo == num} ? 'active'">
						<a class="page-link" href="javascript:void(0)" } th:text="${num}" th:data-page="${num}"></a>
					</li>
					<li>
						<a class="page-link" href="javascript:void(0)" th:if="${page.pageNo < page.totalPage}" th:data-page="${page.pageNo+1}">다음</a>
					</li>
					<li th:classappend="${page.pageNo == page.totalPage} ? 'disabled'">
						<a class="page-link" href="javascript:void(0)" th:data-page="${page.totalPage}">마지막으로</a>
					</li>
				</ul>
			</div>
	
			<!-- kw, page 데이터 넘기기 -->
    		<form th:action="@{/admin/UserManagement}" method="get" id="searchForm">
				<input type="hidden" id="kw" name="kw" th:value="${kw}">
				<input type="hidden" id="kwType" name="kwType" th:value="${kwType}">
        		<input type="hidden" id="page" name="page">
    		</form>
        </div><!--메인 끝-->
    </div>
<!--  
    <script> //수정필요
        // 변수 정의 및 초기화
         const searchBtn = document.getElementById('searchBtn');
         const searchKw = document.getElementById('search_kw');
         const searchForm = document.getElementById('searchForm');
         const kwInput = document.getElementById('kw');
 
         //검색 버튼 클릭시
         searchBtn.addEventListener('click', function() {
             document.getElementById('kw').value = document.getElementById('search_kw').value;
             document.getElementById('searchForm').submit();
         });
     
             
        // 검색창에서 Enter 키를 누르고 있을때 발생함 =  keydown 
         searchKw.addEventListener('keydown', function(event) {
             if (event.key === 'Enter') {    // Enter 키 임을 확인함 . 
                 event.preventDefault();   // Enter 키 기본 동작(줄 바꿈) 방지해줌  
                 kwInput.value = searchKw.value;
                 searchForm.submit();
             }
         });     
     </script>
--> 
<script th:src="@{/Admin/AdminUserManagement.js}"></script>
</body>
</html>