<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/Admin/Admin.css}">
    <link rel="stylesheet" th:href="@{/Admin/AdminReviews.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/> 
</head>
<!-- 리뷰 관리 -->
<body>
    <div th:replace="~{/Admin/AdminHeader :: AdminHeaderFragment}"></div><!--헤더 -->
    
    <div class="AdminReviews">
        <nav th:replace="~{/Admin/Adminnavbar :: AdminnavbarFragment}"></nav><!--네비바 -->       
        
        
        <div class="ReviewsMain"><!--메인****************************************************************-->
            <!-- 리뷰 삭제기능/ 기본페이징 : 최신순, 필터기능 : 최신순, 별점 높은순, 별점 낮은순 -->
            <h1>리뷰 관리</h1>
            <div id="searchBox"> <!-- 검색창 -->
                <select name="searchSelect" id="searchSelect">
                    <option value="total" th:selected="${kwType} == total">전체</option>
                   <option value="name" th:selected="${kwType} == name">상품명</option>
                   <option value="userId" th:selected="${kwType} == userId">작성자 ID</option>
                </select>
                <input type="text" id="search_kw" placeholder="작성자 ID, 또는 상품명을 입력해주세요." th:value="${kw}" onkeyup="enterkey()">
                <button class="fa-solid fa-magnifying-glass searchbtn"  id="searchBtn"></button>

                <a class="selectDel" th:data-uri="@{|/admin/Reviews/delete|}">리뷰 삭제</a>
                <!--href="javascript:void(0);" : 클릭 시 페이지가 다른 페이지로 이동하거나 현재 페이지를 다시 로딩하지 않게 함 -->
            </div>

            <div id="columnBox"> <!-- 테이블 컬럼 -->
                <span><input type="checkbox" id="Select01" name="SelectAll"></span>
                <span>번호</span>
                <span>ID</span>
                <span>상품명</span>
                <span>별점</span> 
                <span>등록일</span>
            </div>
            <div class="Rows" th:each="RList, loop : ${RList}">
                <span><input  type="checkbox" th:id="'Select'+${RList.reviewId}" name="Select" class="Select"></span>
                <span class="number" th:text="${loop.count + ((page.pageNo-1) * page.pageSize)}"></span>
                <a class="list_user" th:href="@{|/admin/Reviews/detail/${RList.reviewId}|}" th:text="${RList.user.id}"></a>
                <a class="list_product" th:href="@{|/admin/Reviews/detail/${RList.reviewId}|}" th:text="${RList.product.name}"></a>
                <a class="list_scope" th:href="@{|/admin/Reviews/detail/${RList.reviewId}|}" th:text="${RList.scope}"></a>
                <a class="list_updateDate" th:href="@{|/admin/Reviews/detail/${RList.reviewId}|}" th:text="${#temporals.format(RList.updateDate, 'yyyy-MM-dd HH:mm')}"></a>
            </div>
            
            <!-- 페이징 버튼  -->
            <div id="pageBtn" th:if="${page.totalPage} > 1">
		        <ul>
			        <li th:classappend="${page.pageNo == 1} ? 'disabled'">
				        <a class="page-link" href="javascript:void(0)" th:data-page="1">처음으로</a>
			        </li>
			        <li>
				        <a class="page-link" href="javascript:void(0)" th:if="${page.pageNo>1}" th:data-page="${page.pageNo-1}">이전</a>
			        </li>
			        <li th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}" th:classappend="${page.pageNo == num} ? 'active'">
				        <a class="page-link" href="javascript:void(0)" } th:text="${num}" th:data-page="${num}"></a>
			        </li>
			        <li>
				        <a class="page-link" href="javascript:void(0)" th:if="${page.pageNo < page.totalPage}" th:data-page="${page.pageNo+1}">다음</a>
			        </li>
			        <li th:classappend="${page.pageNo == page.totalPage} ? 'disabled'">
				        <a class="page-link" href="javascript:void(0)" th:data-page="${page.totalPage}">마지막으로</a>
			        </li>
		        </ul>
	        </div>

            <!-- kw, page 데이터 넘기기 -->
            <form th:action="@{/admin/Reviews}" method="get" id="searchForm">
                <input type="hidden" id="kw" name="kw" th:value="${kw}">
                <input type="hidden" id="kwType" name="kwType" th:value="${kwType}">
                <input type="hidden" id="page" name="page">
            </form>



        </div><!--메인 끝-->
    </div>
    <script th:src="@{/Admin/AdminReviews.js}"></script>
</body>
</html>