<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//code.jquery.com/jquery-latest.min.js"></script> <!--제이쿼리-->
    <link rel="stylesheet" th:href="@{/Admin/Admin.css}">
    <link rel="stylesheet" th:href="@{/Admin/AdminOrderManagement.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/> 
</head>
<!-- 주문/배송관리 -->
<body>
    <div th:replace="~{/Admin/AdminHeader :: AdminHeaderFragment}"></div><!--헤더 --> 
    
    <div class="AdminOrderManagement">
        <nav th:replace="~{/Admin/Adminnavbar :: AdminnavbarFragment}"></nav><!--네비바 -->       
        
        <div class="OrderManagementMain"><!--메인****************************************************************-->
            <h2>주문/배송관리</h2>
            <p>상태별집계</p>
            <section class="state-box">
                <div class="box">처리중인 주문 <div> N건</div></div>
                <div class="box">배송준비중 <div> N건</div></div>
                <div class="box">배송중 <div> N건</div></div>
                <div class="box">반품요청 <div> N건</div></div>
                <div class="box">주문오류/처리불가 <div> N건</div></div>
                <div class="box">재고부족 <div> N건</div></div>
            </section>
            <section class="filter-box">
                <p class="fa-solid fa-filter" style="font-weight: bold;"> 필터</p>
                <div class="checkbox-container">
                    <div class="checkbox-group">
                        <span>결제유형 : </span>
                        <label><input type="checkbox" name="" value="전체"> 전체</label>
                        <label><input type="checkbox" name="" value="카드결제"> 카드결제</label>
                        <label><input type="checkbox" name="" value="계좌이체"> 계좌이체</label>
                        <label><input type="checkbox" name="" value="카카오페이"> 카카오페이</label>
                    </div>
                    <div class="checkbox-group">
                        <span>주문처리상태 : </span>
                        <label><input type="checkbox" name="" value="전체"> 전체</label>
                        <label><input type="checkbox" name="" value="결재완료"> 결제완료</label>
                        <label><input type="checkbox" name="" value="배송준비중"> 배송준비중</label>
                        <label><input type="checkbox" name="" value="배송중"> 배송중</label>
                        <label><input type="checkbox" name="" value="배송완료"> 배송완료</label>
                        <label><input type="checkbox" name="" value="취소"> 취소</label>
                    </div>
                    <div class="checkbox-group">
                        <span>반품처리상태 : </span>
                        <label><input type="checkbox" name="" value="반품요청"> 반품요청</label>
                        <label><input type="checkbox" name="" value="반품거부"> 반품거부</label>
                        <label><input type="checkbox" name="" value="반품승인"> 반품승인</label>
                        <label><input type="checkbox" name="" value="반품완료"> 반품완료</label>
                    </div>

                    <div class="searchLine"> <!-- 텍스트 검색 -->
                        <span>텍스트 검색 : </span>
                        <select name="" id="">
                            <option value="">주문번호</option>
                            <option value="">주문자 ID</option>
                            <option value="">수취인</option>
                        </select>
                        <input class="searchtext" type="text" placeholder="주문번호, 주문자ID 또는 수취인을 입력해주세요.">
                    </div>
                    <div class="searchLine"> <!-- 기간 검색 -->
                        <div class="filter-controls">
                            <span>주문일자 : </span>
                            <div class="date-range">
                                <input type="date" id="start-date" placeholder="시작일">
                                <span>~</span>
                                <input type="date" id="end-date" placeholder="종료일">
                            </div>
                            <div class="quick-select">
                                <button type="button" class="quick-select-button">오늘</button>
                                <button type="button" class="quick-select-button">어제</button>
                                <button type="button" class="quick-select-button">이번주</button>
                                <button type="button" class="quick-select-button">이번달</button>
                                <button type="button" class="quick-select-button">지난주</button>
                                <button type="button" class="quick-select-button">지난달</button>
                                <button type="button" class="quick-select-button">전체</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="fa-solid fa-magnifying-glass btn-style"> 검색</button>
                    <button type="button" id="btn-clear" class="btn-style">초기화</button>
                </div>
            </section>
            <section class="list-box">
                <div class="title">총 <span>--</span>개의 주문 목록</div>
                <div>
                    <span>주문 상태 변경 버튼 :</span>
                    <button type="button" class="quick-select-button">배송중</button>
                    <button type="button" class="quick-select-button">배송완료</button>
                    <button type="button" class="quick-select-button">반품거부</button>
                    <button type="button" class="quick-select-button">반품승인</button>
                    <button type="button" class="quick-select-button">주문취소</button>
                </div>

                <div class="table-container">
                    <div class="table-scrollable">
                        <table>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="select-all"></th>
                                    <th>주문번호</th>
                                    <th>결제일</th>
                                    <th>처리 상태</th>
                                    <th>회원번호</th>
                                    <th>배송번호</th>
                                    <th><i class="fa-solid fa-chevron-down"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="Rows" th:each="PayList : ${PayList}">
                                    <td><span class="check-item"><input type="checkbox" name="select-item"></span></td>
                                    <td th:text="${PayList.orderNo}"></td>
                                    <td th:text="${PayList.createDate}"></td>
                                    <td th:text="|${PayList.paymentState} ${PayList.deliveryState}|"></td>
                                    <td th:text="${PayList.user.userId}"></td>
                                    <td th:text="${PayList.deliveryno}"></td>
                                    <td id="openModal" class="drop"><i class="fa-solid fa-chevron-down"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </section>
            <!--모달 : 상세 내역-->
            <div id="modal" class="modalContainer" th:each="PayList : ${PayList}">
                <ul class="modalBox"> 
                    <p><div class="boxtitle">상세정보</div></p>
                    <div class="boxbtn"><button id="closeModal" class="btn-style closeM">닫기</button></div>
                    <li class="subbox">
                        <div class="subL">
                            <p>주 문 번 호 : </p>
                            <pre>결   제   일 : </pre>
                            <p>처 리 상 태 : </p>
                            <p>회 원 번 호 : </p>
                            <p>배 송 번 호 : </p>
                        </div>
                        <div class="subR">
                            <P th:text="${PayList.orderNo}"></P>
                            <P th:text="${PayList.createDate}"></P>
                            <P th:text="|${PayList.paymentState} ${PayList.deliveryState}|"></P>
                            <P th:text="${PayList.user}"></P>
                            <P th:text="${PayList.deliveryno}"></P>
                        </div>
                    </li>
                    <li class="subbox">
                        <div class="subL"><pre>주   문   자 : </pre></div>
                        <div class="subR">
                            <p th:text="${PayList.user.name}">주문자명 user.name</p>
                            <p th:text="${PayList.user.tell}">주문자 전화번호 user.tell</p>
                            <p th:text="|${PayList.user.address} ${PayList.user.addressDetail}|">주문자 주소</p>
                        </div>
                    </li>
                    <li class="subbox">
                        <div class="subL"><pre>수   취   인 : </pre></div>
                        <div class="subR">
                            <p th:text="${PayList.name}">수취인명 payment.name</p>
                            <p th:text="${PayList.address}">수취인 주소 payment.address</p>
                            <p th:text="${PayList.tell}">수취인 번호 payment.tell</p>
                        </div>
                    </li>
                    <li class="subbox" th:each="payment : ${PayList.paymentDetailList}">
                        <div class="subL"><p>주 문 내 역 : </p></div>
                        <div class="subR">
                            <pre><span>상품명 > </span><span th:text="${payment.price}">상품가격</span>원 > <span th:text="${payment.count}">구매수량</span>개 > total : <span th:text="${payment.price * payment.count}">상품가격*구매수량</span>원</pre>
                        </div>
                    </li>
                    <li class="subbox">
                        <div class="subL"><p>총 결제 금액 : </p></div>
                        <div class="subR">
                            <p><span>----</span>원</p>
                            <!-- 계산어떻게? -->
                        </div>
                    </li>
                </ul> 
            </div>
                    
                    
        </div><!--메인 끝-->
    </div>
    
    <script th:src="@{/Admin/AdminOrderManagement.js}"></script>
</body>
</html>