<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/Admin/Admin.css}">
    <link rel="stylesheet" th:href="@{/Admin/AdminNotice_detail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/> 
</head>
<!-- (공지사항)게시글 상세 페이지 -->
<body>
    <div th:replace="~{/Admin/AdminHeader :: AdminHeaderFragment}"></div><!--헤더 --> 
    
    <div class="AdminNotice_detail">
        <nav th:replace="~{/Admin/Adminnavbar :: AdminnavbarFragment}"></nav><!--네비바 -->       
        
        
        <div class="Notice_detailMain"><!--메인****************************************************************-->
            <!-- (공지사항)게시글 수정 및 삭제 기능 -->
            <h2>공지사항 > 상세페이지</h2>
            <div id="noticebox"> <!--조회기능(수정버튼 누르기 전)-->
                <div class="content_border">
                    <table>
                        <tr class="writing-title top">
                            <td th:text="${n.title}" colspan="4"></td>
                        </tr>
                        <tr class="writing-id-date">
                            <td class="writing-td-title">작성자</td>
                            <td th:text="${n.admin.adCode}" class="writing-td-content"></td>
                            <td class="writing-td-title">등록날짜</td>
                            <td th:text="${n.updateDate}" class="writing-td-content"></td>
                        </tr>
                        <tr class="writing-content">
                            <td class="writing-td-title">내용</td>
                            <td class="writing-td-content" colspan="3">
                                <pre th:text="${n.contents}" class="writing-td-content-pre"></pre>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <form th:action="@{|/admin/Notice/detail|}" method="post" id="NoticeForm"> <!--수정하기(수정버튼 눌렀을때 보여줌)-->
                <input type="hidden" name="noticeId" id="noticeId" th:value="${n.noticeId}">
                <!-- 타입 넘버로 바꿔도 안됨,,,텍스트도 안됨 ㅡㅡ -->
                <div class="content_border">
                    <table>
                        <tr class="writing-title">
                            <td class="writing-td-title">제목</td>
                            <td class="writing-td-content" colspan="3">
                                <input class="writing-td-content" type="text" id="writing-td-text" name="title" th:value="${n.title}" required>
                            </td>
                        </tr>
                        <tr class="writing-content">
                            <td class="writing-td-title">내용</td>
                            <td class="writing-td-content" colspan="3">
                                <textarea class="writing-td-content-pre" id="writing-td-textarea" name="contents" th:text="${n.contents}" required></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <div>
                <button id="updateBtn" class="btn-style">게시글 수정</button>
                <button id="updateReBtn" class="btn-style" th:attr="data-id=${n.noticeId}" type="submit">게시글 저장</button>
                <a id="deleteBtn" class="btn-style" th:data-uri="@{|/admin/Notice/detail/delete/${n.noticeId}|}" href="javascript:void(0);">게시글 삭제</a>
                <!-- <button id="deleteBtn" class="btn-style" onclick="|location.href='@{/admin/Notice/detail/delete/${n.noticeId}}'|" href="javascript:void(0);">게시글 삭제</button> -->
                <!-- href="javascript:void(0);" th:data-uri="@{|/admin/Notice/detail/delete/${n.noticeId}|}" -->
                <!-- onclick="location.href=@{|/admin/Notice/detail/delete/${n.noticeId}|}" -->
            </div>
        </div><!--메인 끝-->
    </div>    
    <script th:src="@{/Admin/AdminNotice_detail.js}"></script>
    
</body>
</html>