<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의하기</title>
    <link rel="stylesheet" th:href="@{/layout/reset.css}">
    <link rel="stylesheet" th:href="@{/layout/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/layout/footerStyle.css}">
    <link rel="stylesheet" th:href="@{/csc/cscDetailStyle.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* HEADER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->

    <header>
        <div class="headerBanner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt libero odit pariatur tempore
                facilis magni quia veritatis</p>
            <div class="closeBtn"><i class="fa-solid fa-x"></i></div>
        </div>

        <div class="headerUp_Container">
            <div class="headerLogo">
                <p><span>B</span>-Team</p>
            </div>

            <div class="searchContainer">
                <form action="post">
                    <input type="text" class="searchBar" placeholder="SEARCH">
                    <div class="searchBtn btn"><i class="fa-solid fa-magnifying-glass"></i></div>
                </form>
            </div>
            <ul class="contentNav">
                <li class="wishList">
                    <a href="#">
                        <p>
                            <i class="fa-regular fa-heart"></i>
                        </p>
                    </a>
                </li>
                <li class="cart">
                    <a href="#">
                        <p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </p>
                    </a>
                </li>
                <li class="login">
                    <a href="#">
                        <p>
                            <i class="fa-regular fa-user"></i>
                        </p>
                    </a>
                </li>
                <li class="customerService">
                    <a href="#">
                        <p>
                            <i class="fa-solid fa-headset"></i>
                        </p>
                    </a>
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a th:href="@{/csc}">1:1 문의</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="headerDown_Container">
            <div class="categoryContainer">
                <p><span><i class="fa-solid fa-bars"></i></span>Category</p>
                <ul class="category">
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                </ul>
            </div>
            <ul class="event">
                <li><a href="#">BEST</a></li>
                <li><a href="#">NEW</a></li>
                <li><a href="#">Seler</a></li>
                <li><a href="#">event</a></li>
            </ul>
            <div class="languageContainer">
                <div class="language">
                    <p>KR</p>
                    <p>EN</p>
                </div>
            </div>
        </div>
    </header>

    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main>
        <div class="csContainer">
            <div class="csSideNav">
                <div class="csSideNavTitle">
                    <p>고객센터</p>
                </div>
                <ul>
                    <li>
                        <a href="csPage.html">
                            <p>공지사항</p>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="on">
                        <a th:href="@{/csc}">
                            <p>1:1 문의</p>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="askContainer">
                <div class="askCon">
                    <div class="askTitleCon">
                        <div class="askTitle">
                            <h2>1:1문의</h2>
                        </div>
                    </div>
                </div>


                <div class="askconContainer">
                    <form>
                        <div class="type">
                            <div class="orderNum">
                                <label for="label-text">주문번호</label>
                            </div>
                            <div class="typeSelect">
                                <div class="SelectAll">
                                    <select name="SelectType">
                                        <option value="SelectType1">주문번호를 선택해주세요.</option>
                                        <option value="SelectType2">20241016-001</option>
                                        <option value="SelectType3">20241016-002</option>
                                        <option value="SelectType4">20241016-003</option>
                                        <option value="SelectType5">20241016-004</option>
                                        <option value="SelectType6">20241016-005</option>
                                    </select>
                                </div>                 
                            </div>
                        </div>



                        <div class="type">
                            <div class="subject">
                                <label for="label-text">제목
                                    <span class="imp">*</span>
                                </label>
                            </div>
                            <div class="inputSubject">
                                <div class="SubBox">
                                    <input placeholder="제목을 입력해주세요" type="text" class="subjectText" th:value="${question.title}" readonly>
                                </div>
                            </div>
                        </div>




                        <div class="type">
                            <div class="content">
                                <label for="label-text">내용
                                    <span class="imp">*</span>
                                </label>
                            </div>
                            <div class="inputContent">
                                <div class="detailContent">
                                    <div class="contentCon">
                                        <textarea inputmode="text" class="inquiry-contents" oninput="handleInput(this)" th:text="${question.contents}" readonly ></textarea>
                                        <div class="conPlaceholder" id="conPlaceholder">
                                            <div class="contentNoti"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- --------------------------------관리자 답변란-------------------------------------------->
                        <th:block th:if="${question.CsAnswer!=null}">
	                        <div class="adminReply">
	                            <div class="type">
	                                <div class="reply">
	                                    <label for="label-text">관리자 답변</label>
	                                </div>
	                                <div class="inputReply">
	                                    <div class="detailReply">
	                                        <div class="replyContainer">
	                                            <textarea inputmode="text" class="inquiry-reply"></textarea>
	                                            <div class="conPlaceholder">
	                                                <div class="replyCon">
	                                                    <p th:href="@{|/csc/answer/${question.CsAnswer.csAnswerId}|}"></p>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </th:block>

                        <div class="submitContainer">
                            <button type="submit" class="retouchBtn" th:href="@{|/csc/modify/${question.csQuestionId}|}">수정</button>
                            <button type="submit" class="deleteBtn" href="javascript:void(0);" th:data-uri="@{|/csc/delete/${question.csQuestionId}|}">삭제</button>
                        </div>
              
                    </form>
                </div>

            </div>

        </div>


    </main>

    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* FOOTER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->

    <footer>
        <div class="footerCon footerCon01">


            <div class="csContainer">
                <div class="csText">
                    <p>고객행복센터</p>

                    <div class="companyNum">
                        <p>1644-1107</p>
                        <p><span>월~토요일 오전 7시 - 오후6시</span></p>
                    </div>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <p>비회원문의 : help@naver.com</p>
            </div>

            <div class="introduceContainer">
                <ul class="companyNav">
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">회사소개영상</a></li>
                    <li><a href="#">투자정보</a></li>
                    <li><a href="#">인재채용</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
                <div class="introduceText">
                    <p>법인명 : lorem | 사업자등록번호 : 000-00-00000 &emsp;<a href="#">사업자정보 확인</a></p>
                    <p>통신판매업 : 제 2024-경기안산-1515호</p>
                    <p>주소 : 경기도 안산시 상록구 이동 000호 5층 | 대표이사 : 백경빈</p>
                    <p>채용문의 : <a href="#">abcd@naver.com</a></p>
                    <p>팩스 : 000 - 0000 - 0000</p>
                </div>
                <ul class="snsContainer">
                    <!-- <a target="_blank" href="https://icons8.com/icon/ww630cOi80NH/target-logo">표적</a> 작가: <a target="_blank" href="https://icons8.com">Icons8</a> -->
                    <li><a href="#"><img src="../static/img/facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/youtube.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/instagrem.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/target.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/blog.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="footerCon footerNotice">
            <p>&copy; by BeakGyeoungBin ALL RIGHT</p>
        </div>
    </footer>

    <script th:src="@{/layout/headerModul.js}"></script>
    <script th:src="@{/csc/cscDetail.js}"></script>
    <script type="text/javascript">
		//삭제 버튼 클릭
		let del = document.querySelectorAll(".delete");
	    for(let el of del){
	        el.addEventListener('click',function(){
	            if(confirm("정말로 삭제하시겠습니까?")){
	                location.href = this.dataset.uri;
	            }
	        });
	    }
	</script>
</body>
</html>