<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
        <link rel="stylesheet" th:href="@{/Cs/cscRetouchFormStyle.css}">
        <div class="csContainer">

            <div class="askContainer">
                <div class="askCon">
                    <div class="askTitleCon">
                        <div class="askTitle">
                            <h2>1:1문의</h2>
                        </div>
                    </div>
                </div>


                <div class="askconContainer">
                    <form th:object="${question}" method="post">
                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->

                        <div class="type">
                            <div class="orderNum">
                                <label for="label-text">주문번호</label>
                            </div>
                            <div class="typeSelect">
                                <div class="SelectAll">
                                    <select name="orderNo">
                                        <option value="">주문번호를 선택해주세요.</option>
                                        <option th:each="payment : ${payList}" th:value="${payment.orderNo}"
                                            th:text="${payment.orderNo}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="type">
                            <div class="subject">
                                <label for="label-text">제목
                                    <span class="imp">*</span>
                                </label>
                            </div>
                            <div class="inputSubject">
                                <div class="SubBox">
                                    <input placeholder="제목을 입력해주세요" type="text" class="subjectText" th:field="*{title}">
                                </div>
                            </div>
                        </div>




                        <div class="type">
                            <div class="content">
                                <label for="label-text">내용
                                    <span class="imp">*</span>
                                </label>
                            </div>
                            <div class="inputContent">
                                <div class="detailContent">
                                    <div class="contentCon">
                                        <textarea inputmode="text" class="inquiry-contents"
                                            th:field="*{contents}"></textarea>
                                        <div class="conPlaceholder" id="conPlaceholder">
                                            <div class="contentNoti">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="submitContainer">
                            <button type="submit" class="submitBtn">등록</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>


    </main>
</div>