<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" th:href="@{/Cs/csNotiDetailStyle.css}">
        <div class="mainWhole">
            <div class="NoticeHeader">
                <div class="NoticeTitle">공지사항</div>
                <div class="NoticeTitle2">새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</div>
            </div>

            <div class="mainContainer">
                <div class="contentCon">
                    <div class="mainTitle">제목</div>
                    <div class="mainSub"  th:text="${notice.title}"></div>
                </div>
                <div class="contentCon">
                    <div class="mainTitle">작성자</div>
                    <div class="mainSub" th:text="${notice.admin.adminId}"></div>
                </div>
                <div class="contentCon">
                    <div class="mainTitle">작성일</div>
                    <div class="mainSub" th:text="${#temporals.format(notice.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>


                <div class="contentContainer">
                    <div>
                        <p>
                            <img src="">
                            <p th:text="${notice.contents}"></p>
                        </p>
                    </div>
                </div>

                <div class="invenContainer">
                    <a th:href="@{/csc}">
                        <button class="invenBtn" type="button" >
                            <span class="invenText">목록</span>
                        </button>
                    </a>
                </div> 
            </div>
        </div>
    </main>
</div>