<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    <link rel="stylesheet" th:href="@{/layout/reset.css}">
    <link rel="stylesheet" th:href="@{/layout/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/layout/footerStyle.css}">
    <link rel="stylesheet" th:href="@{/csc/csPageStyle.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* HEADER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->

    <header>
        <div class="headerBanner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt libero odit pariatur tempore
                facilis magni quia veritatis</p>
            <div class="closeBtn"><i class="fa-solid fa-x"></i></div>
        </div>

        <div class="headerUp_Container">
            <div class="headerLogo">
                <a href="mainPage.html">
                    <p><span>B</span>-Team</p>
                </a>
            </div>

            <div class="searchContainer">
                <form action="post">
                    <input type="text" class="searchBar" placeholder="SEARCH">
                    <div class="searchBtn btn"><i class="fa-solid fa-magnifying-glass"></i></div>
                </form>
            </div>
            <ul class="contentNav">
                <li class="wishList">
                    <a href="#">
                        <p>
                            <i class="fa-regular fa-heart"></i>
                        </p>
                    </a>
                </li>
                <li class="cart">
                    <a href="#">
                        <p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </p>
                    </a>
                </li>
                <li class="login">
                    <a href="loginPage.html">
                        <p>
                            <i class="fa-regular fa-user"></i>
                        </p>
                    </a>
                </li>
                <li class="customerService">
                    <a href="csPage.html">
                        <p>
                            <i class="fa-solid fa-headset"></i>
                        </p>
                    </a>
                    <ul>
                        <li><a href="csPage.html">공지사항</a></li>
                        <li><a href="csPage.html">1:1 문의</a></li>
                    </ul>   
                </li>
            </ul>
        </div>
        <div class="headerDown_Container">
            <div class="categoryContainer">
                <p><span><i class="fa-solid fa-bars"></i></span>Category</p>
                <ul class="category">
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">loremlorem</a></li>
                </ul>
            </div>
            <ul class="event">
                <li><a href="#">BEST</a></li>
                <li><a href="#">NEW</a></li>
                <li><a href="#">Seler</a></li>
            </ul>
            <div class="languageContainer">
                <div class="language">
                    <p>KR</p>
                    <p>EN</p>
                </div>
            </div>
        </div>
    </header>


    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main>
        <div class="csContainer">
            <div class="csSideNav">
                <div class="csSideNavTitle">
                    <p>고객센터</p>
                </div>
                <ul>
                    <li class="on">
                        <a href="#">
                            <p>공지사항</p>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <p th:href="@{/csc}">1:1 문의</p>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <ul>
                <li class="csContent on">
                    <div class="csTitle">공지사항<span>회사의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span></div>
                    <table class="csInfo">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dsectetur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum tur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lorem ipsum dtur adipisicing elit. Consequuntur eaque quisquam architecto aliquam
                                repudiandae</td>
                            <td>company</td>
                            <td>2022.10.14</td>
                        </tr>
                    </table>
                </li>

                <li class="csContent">
                    <div class="csTitle">1:1문의</div>
                    <table class="csInfo">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>답변상태</th>
                        </tr>
                        <tr th:each="CsQuestion, loop : ${paging}">
                        	<td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
                            <td><a  th:href="@{|/csc/detail/${CsQuestion.csQuestionId}|}" th:text="${CsQuestion.title}"></a></td>
                            <td th:text="${#temporals.format(CsQuestion.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${CsQuestion.CsAnswer==null} ? 'N' : 'Y'"></td>
                        </tr>
                    </table> 
                    <div class="askBtn">
                        <a th:href="@{csc/form}">문의하기</a>
                    </div>                                   
                </li>      
                
               <!-- <div class="paginBtn">pagingBtn</div>-->
                <!-- 페이징 버튼 -->
                <ul class="pagination justify-content-center">
	                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
					    <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
		                    <span>이전</span>
		                </a>
		            </li>
	                <th:block th:switch="${#strings.toString(paging.number)}">
					    <th:block th:case="0">
					    	<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				            	th:if="${page >= paging.number-0 and page <= paging.number+4}" 
				            	th:classappend="${page == paging.number} ? 'active'" class="page-item">
				                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
				            </li>
					    </th:block>
					    <th:block th:case="1">
					    	<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				            	th:if="${page >= paging.number-1 and page <= paging.number+3}" 
				            	th:classappend="${page == paging.number} ? 'active'" class="page-item">
				                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
				            </li>
					    </th:block>
					    <th:block th:case="${paging.totalPages-2}">
					    	<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				            	th:if="${page >= paging.number-3 and page <= paging.number+1}" 
				            	th:classappend="${page == paging.number} ? 'active'" class="page-item">
				                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
				            </li>
					    </th:block>
					    <th:block th:case="${paging.totalPages-1}">
					    	<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				            	th:if="${page >= paging.number-4 and page <= paging.number+0}" 
				            	th:classappend="${page == paging.number} ? 'active'" class="page-item">
				                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
				            </li>
					    </th:block>
					    <th:block th:case="*">
					    	<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				            	th:if="${page >= paging.number-2 and page <= paging.number+2}" 
				            	th:classappend="${page == paging.number} ? 'active'" class="page-item">
				                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
				            </li>
					    </th:block>
					</th:block>
					<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
		            	<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
		                    <span>다음</span>
		                </a>
		            </li>
                </ul>
				<!-- 페이징 버튼 end -->
           	
            </ul>

        </div>


    </main>
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* FOOTER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->

    <footer>
        <div class="footerCon footerCon01">
            <div class="csContainer">
                <div class="csText">
                    <p>고객행복센터</p>

                    <div class="companyNum">
                        <p>1644-1107</p>
                        <p><span>월~토요일 오전 7시 - 오후6시</span></p>
                    </div>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <div class="askCon">
                    <div class="askBtn">
                        <a href="#">카카오톡문의</a>
                    </div>
                    <p>월~토요일 : 오전 7시 - 오후 6시 <br>
                        일/공휴일 : 오전 7시 - 오후 1시</p>
                </div>
                <p>비회원문의 : help@naver.com</p>
            </div>

            <div class="introduceContainer">
                <ul class="companyNav">
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">회사소개영상</a></li>
                    <li><a href="#">투자정보</a></li>
                    <li><a href="#">인재채용</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
                <div class="introduceText">
                    <p>법인명 : lorem | 사업자등록번호 : 000-00-00000 &emsp;<a href="#">사업자정보 확인</a></p>
                    <p>통신판매업 : 제 2024-경기안산-1515호</p>
                    <p>주소 : 경기도 안산시 상록구 이동 000호 5층 | 대표이사 : 백경빈</p>
                    <p>채용문의 : <a href="#">abcd@naver.com</a></p>
                    <p>팩스 : 000 - 0000 - 0000</p>
                </div>
                <ul class="snsContainer">
                    <!-- <a target="_blank" href="https://icons8.com/icon/ww630cOi80NH/target-logo">표적</a> 작가: <a target="_blank" href="https://icons8.com">Icons8</a> -->
                    <li><a href="#"><img src="../static/img/facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/youtube.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/instagrem.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/target.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/blog.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="footerCon footerNotice">
            <p>&copy; by BeakGyeoungBin ALL RIGHT</p>
        </div>
    </footer>




    <script th:src="@{/csc/csPageModul.js}"></script>
    <script th:src="@{/layout/headerModul.js}"></script>
</body>

</html>