<!DOCTYPE html>
<div layout:decorate="~{Layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="content">
    <link rel="stylesheet" href="/Main/mainpageStyle.css">
        <div class="mainSlideContainer">
            <div class="slides">
                <div class="slide">
                    <img src="/static/img/Banner01.png" alt="">
                </div>
                <div class="slide">
                    <img src="/static/img/banner02.png" alt="">
                </div>
                <div class="slide">
                    <img src="/static/img/banner03.png" alt="">
                </div>
                <div class="slide">
                    <img src="/static/img/banner03.png" alt="">
                </div>
                <div class="slide">
                    <img src="/static/img/banner03.png" alt="">
                </div>
            </div>
            <div class="slideBtn nextBtn">
                <p><i class="fa-solid fa-chevron-right"></i></p>
            </div>
            <div class="slideBtn preBtn">
                <p><i class="fa-solid fa-chevron-left"></i></p>
            </div>
        </div>
        <section>
            <div class="sectionTitle">
                <p>
                    &#128640; 지금 가장 많이 담는 특가&ensp; <i class="fa-solid fa-chevron-right"></i>
                </p>
                <p class="sectionSubtitle">추천 특가템 최대40%</p>
            </div>
            <div class="productContainer">
                <div class="slides">
                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">11
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">22
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">33
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">44
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="productBtn nextBtn">
                    <p><i class="fa-solid fa-chevron-right"></i></p>
                </div>
                <div class="productBtn preBtn btnOff">
                    <p><i class="fa-solid fa-chevron-left"></i></p>
                </div>
            </div>
        </section>
        <section>
            <div class="sectionTitle">
                <p>
                    &#128640; 지금 가장 많이 담는 특가&ensp; <i class="fa-solid fa-chevron-right"></i>
                </p>
                <p class="sectionSubtitle">추천 특가템 최대40%</p>
            </div>
            <div class="productContainer">
                <div class="slides">
                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">11
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">22
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">33
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="slide">
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">44
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999++</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="product">
                            <a href="#">
                                <div class="productImg">
                                    <img src="" alt="">
                                </div>
                                <div class="putBtn">
                                    <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                                </div>
                                <div class="productText">
                                    <div class="productName">
                                        <p>[Company]ProductName</p>
                                    </div>
                                    <div class="productPrice">
                                        <p class="originalPrice">10,000원</p>
                                        <p><span>20% </span>8,330원</p>
                                    </div>
                                    <div class="productReview">
                                        <p>9,999+</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="productBtn nextBtn">
                    <p><i class="fa-solid fa-chevron-right"></i></p>
                </div>
                <div class="productBtn preBtn btnOff">
                    <p><i class="fa-solid fa-chevron-left"></i></p>
                </div>
            </div>
        </section>


        <section>
            <div class="sectionBanner">
                <a href="#">
                    <img src="/static/img/sectionBanner.png" alt="">
                </a>
            </div>
        </section>


        <section>
            <div class="timeSale">
                <div class="timeSaleTitle">
                    <p class="title">&#127801;&ensp;일일특가</p>
                    <p class="subTitle">단 24시간 한정특가</p>
                    <div class="timeTimer">
                        11:11:15
                    </div>
                    <p class="noti">망설이면 늦어요!</p>
                </div>
                <div class="timeSaleProduct">
                    <div class="product">
                        <a href="#">
                            <div class="productImg">
                                <img src="" alt="">
                            </div>
                            <div class="putBtn">
                                <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                            </div>
                            <div class="productText">
                                <div class="productName">
                                    <p>[Company]ProductName</p>
                                </div>
                                <div class="productPrice">
                                    <p class="originalPrice">10,000원</p>
                                    <p><span>20% </span>8,330원</p>
                                </div>
                                <div class="productReview">
                                    <p>9,999+</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="#">
                            <div class="productImg">
                                <img src="" alt="">
                            </div>
                            <div class="putBtn">
                                <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                            </div>
                            <div class="productText">
                                <div class="productName">
                                    <p>[Company]ProductName</p>
                                </div>
                                <div class="productPrice">
                                    <p class="originalPrice">10,000원</p>
                                    <p><span>20% </span>8,330원</p>
                                </div>
                                <div class="productReview">
                                    <p>9,999+</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="timeSale">
                <div class="timeSaleTitle">
                    <p class="title">&#127801;&ensp;일일특가</p>
                    <p class="subTitle">단 24시간 한정특가</p>
                    <div class="timeTimer">
                        11:11:15
                    </div>
                    <p class="noti">망설이면 늦어요!</p>
                </div>
                <div class="timeSaleProduct">
                    <div class="product">
                        <a href="#">
                            <div class="productImg">
                                <img src="" alt="">
                            </div>
                            <div class="putBtn">
                                <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                            </div>
                            <div class="productText">
                                <div class="productName">
                                    <p>[Company]ProductName</p>
                                </div>
                                <div class="productPrice">
                                    <p class="originalPrice">10,000원</p>
                                    <p><span>20% </span>8,330원</p>
                                </div>
                                <div class="productReview">
                                    <p>9,999+</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="#">
                            <div class="productImg">
                                <img src="" alt="">
                            </div>
                            <div class="putBtn">
                                <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                            </div>
                            <div class="productText">
                                <div class="productName">
                                    <p>[Company]ProductName</p>
                                </div>
                                <div class="productPrice">
                                    <p class="originalPrice">10,000원</p>
                                    <p><span>20% </span>8,330원</p>
                                </div>
                                <div class="productReview">
                                    <p>9,999+</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="sectionBanner">
                <a href="#">
                    <img src="/static/img/sectionBanner.png" alt="">
                </a>
            </div>
        </section>


        <section>
            <div class="timeSale">
                <div class="timeSaleTitle">
                    <p class="title">추천특가</p>
                    <p class="noti">망설이면 늦어요!</p>
                </div>
                <div class="timeSaleProduct">
                    <div class="product">
                        <a href="#">
                            <div class="productImg">
                                <img src="" alt="">
                            </div>
                            <div class="putBtn">
                                <p><i class="fa-solid fa-cart-shopping"></i>담기</p>
                            </div>
                            <div class="productText">
                                <div class="productName">
                                    <p>[Company]ProductName</p>
                                </div>
                                <div class="productPrice">
                                    <p class="originalPrice">10,000원</p>
                                    <p><span>20% </span>8,330원</p>
                                </div>
                                <div class="productReview">
                                    <p>9,999+</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    
</main>
</div>
<script th:src="@{/Main/ATeamModul.js}"></script>
<script th:src="@{/Main/mainPageModul.js}"></script>
<script th:src="@{/Main/mainPage.js}"></script>